<app-header></app-header>
<p-breadcrumb class=""  [model]="items"></p-breadcrumb>
<div class="bannerContainer">
    <p>Calígrafo Público Nacional</p>
</div>
<div class="containerBodyCarrera">
    <p class="title mt-5 mb-3">Título: Calígrafo/a Público/a Nacional</p>
    <p class="mb-3">Duración: 2 años</p>
    <p class="mb-3">Resolución Ministerial: RESOL-2019-4239-APN-MECCYT</p>
    <p class="title4 mb-3"><a class=" text-base font-bold lg:text-xl text-green-500" href="../../../../assets/pdfs/escusuper/PlanEstudiosCaligrafoPublico.pdf">Plan de estudios</a></p>
    <p class="mb-3 font-bold text-base lg:text-xl">Requisitos de Ingreso</p>
    <p class="mb-3">Tener acreditado el nivel medio o ciclo polimodal de enseñanza.</p>
    <p class="mb-3">Excepcionalmente, mayores de 25 años que no tengan aprobado
        el nivel medio o ciclo polimodal, podrán ingresar siempre que
        demuestren, a través de evaluaciones que el Instituto
        Universitario establezca, preparación y/o experiencia laboral
        acorde, así como aptitudes y conocimientos suficientes</p>
    <p class="mb-3">Las clases se desarrollan bajo la modalidad presencial de lunes a jueves de 15.00 hs a 21.10 hs.</p>
    <p class="mb-3 font-bold text-base lg:text-xl">Documentación para la inscripción</p>
    <ul>
        <li>Ficha de preinscripción SIU, aquí.</li>
        <li>Fotocopia del DNI actualizado, frente y dorso.</li>
        <li>Ficha de examen físico a cargo del estudiante.</li>
        <li>Fotocopia del título y analítico de Título Secundario, o constancia de título en trámite.</li>
    </ul>
    <p class="mb-3">Toda documentación deberá ser enviada  a: ciclospreinscripciones@iugna.edu.ar (en un solo archivo en formato PDF, legible, no se recibirán archivos en formato JPG). Para realizar consultas también podrá hacerlo a la misma casilla de correo electrónico.</p>
</div>
<br>
<br>
<br>
<br>
<app-footer></app-footer>
