<app-header></app-header>
<p-breadcrumb class=""  [model]="items"></p-breadcrumb>
<div class="membrete">
    <h2 class="subtitulo">Extensión Universitaria</h2>
</div>
<div class="containerConvocatoria pt-5 pb-5">
    <p class=" text-base lg:text-lg pb-3">Extensión Universitaria se perfila como un espacio institucional que amplía la relación del Instituto Universitario con el medio social, aportando a este los resultados y logros de la investigación y la docencia.</p>
    <p class=" text-base lg:text-lg pb-3">La Extensión Universitaria tiene el propósito de difundir al público general el conocimiento, la tecnología y la cultura, lo que incluye la divulgación científica. Esta función universitaria cumple un rol complementario a la formación académica en el conjunto de la comunidad universitaria; un rol en la divulgación científica y en la diversidad cultural; un rol en la transformación social y el desarrollo comunitario y un rol en la transferencia tecnológica.</p>
    <p class=" text-base lg:text-lg pb-3">De la Secretaría de Extensión Universitaria dependen los programas, proyectos y actividades: de difusión al público general de las actividades académicas del Instituto y de educación permanente; complementarios a la formación académica; y con finalidades de asistencia, cooperación y servicios.</p>
    <p class=" text-base lg:text-lg pb-3">La actividad de Extensión Universitaria está destinada a la sociedad en general, a las empresas productivas de bienes y servicios, a organizaciones del sector público, a las ONG (tercer sector) y a la propia comunidad universitaria.</p>
    
    <section class="flex containerContacto mb-5">
        <div>
            <p class="contactoItems text-base lg:text-lg pb-2">Para más información:</p>
            <p class="contactoItems text-base lg:text-lg pb-2">Secretaría de Extensión</p>
            <p class="contactoItems text-base lg:text-lg pb-2">email: extension@iugna.edu.ar</p>
        </div>
        <img src="../../../../assets/img/iconos/extension.png" alt="">
    </section>
    <hr>
    <section class="containerEnlaces">
        <ul class="itemsEnlaces">
            <li class="text-base lg:text-xl"><a href="../../../../assets/pdfs/extension/extension-reglamento.pdf">Reglamento de Extensión</a></li>            

        </ul>
    </section>
    <hr class="mb-5">
    </div>
    
<!-- <app-footer></app-footer> -->
