<hr>
<section class="containerEnlaces">
    <ul class="itemsEnlaces">
        <li class="text-base lg:text-xl">Reglamento de Investigación</li>
        <li class="text-base lg:text-xl" routerLink="/investigacion/biblioteca">Biblioteca</li>
        <li class="text-base lg:text-xl" routerLink="/investigacion/cin">IUGNA-CIN</li>
        <li class="text-base lg:text-xl">Repositorio Digital</li>
        <li class="text-base lg:text-xl">Revista Digital Ciencia y Seguridad</li>
    </ul>
</section>
<hr class="mb-5">

