<div class="m-3">
    <p class="title mb-3">Régimen de cursada</p>
    <hr>
    <div class="mt-3 containerDescription">
        <p class="mb-3">La Unidad Académica Escuela de Gendarmería Nacional “Gral D Martín Miguel de Güemes” ofrece cuatro licenciaturas en el área de la Seguridad Pública, Administración Pública, Gestión y Seguridad de las Tecnologías de la Información y Criminalística. Para acceder a estos títulos de grado, los alumnos cursan tres años en dicho Instituto con un régimen de internado y obtienen así la titulación de Técnico Universitario.</p>
        <p class="mb-3">Finalizado este trayecto, y con un régimen de externado, continúan el cursado del cuarto año en los denominados Centros Educativos de Perfeccionamiento Específico (CEPE), consistiendo el último año en el logro de los objetivos teóricos y prácticos enfocados en la actividad operativa y administración real.</p>
        <p class="mb-3">De esta manera, la formación teórica se constituye en la base de los fundamentos de la acción. Los cursantes de los CEPE van a contar con habilidades necesarias para la gestión profesional en el campo ocupacional de la seguridad, y con el fin de integrarlas, complementarlas y articularlas a las adquiridas en la Unidad Académica.</p>
        <p class="mb-3">Una vez finalizado el cuarto año y con la defensa del Trabajo Integrador Final obtienen la titulación de licenciados.</p>
        <p>La modalidad es presencial y no arancelada.</p>
    </div>    
    <br>
    <br>
    <br>
    
</div>
