<div class="m-3">
    <p class="title mb-3">Pregrado</p>
    <hr>
    <div>
        <p class="title2 mt-3 mb-3">Carrera: Califrafo Público Nacional</p>
        <p class="title3 mb-3">Título: Calígrafo Público Nacional</p>
        <p class="mb-3">Duración: 3 años</p>
        <p class="mb-3">Resolución Ministerial: RESOL-2019-4239-APN-MECCYT</p>
        <p class="title4"><a href="../../../../assets/pdfs/escusuper/PlanEstudiosCaligrafoPublico.pdf">Plan de estudios</a></p>
    </div>
</div>
<div></div>

