<app-header></app-header>
<p-breadcrumb  [model]="items"></p-breadcrumb>
<div class="membrete">
    <h2 class="subtitulo text-2xl md:text-xl sm:text-xs lg:text-xl">Cursos de posgrado: Diplomaturas</h2>
    </div>

<div class="px-4 pt-5 md:pb-4 md:px-7 md:mx-5 max-w-screen-sm md:max-w-[80%]  ">
    <h2 class="text-teal-600 font-bold mb-5 text-center md:text-left">Inscripciones abiertas hasta el 05 de Marzo de 2025, inicio de cursada el 10 de Marzo de 2025</h2>



    <div class="md:flex md:justify-between block mb-5">

        <img class="imageqr hidden md:block"src="../../../../assets/img/novedades/posgrado/desarrollo_de_fronteras.png"alt="">

      <div class="md: ml-5">
        <h3 class="text-teal-600 mb-4 text-center md:text-left">DIPLOMATURA UNIVERSITARIA EN SEGURIDAD
          Y DESARROLLO DE FRONTERAS
        </h3>
        <p class="mb-2"><span class="font-semibold">DESTINATARIOS: </span>PROFESIONALES CON TÍTULO TÉCNICO SUPERIOR, TÍTULO UNIVERSITARIO O TÍTULO DE GRADO RELACIONADO A LA SEGURIDAD PÚBLICA Y QUE CUENTEN CON LA EXPERIENCIA LABORAL AFÍN CON EL ÁREA DE SEGURIDAD EN FRONTERAS (NO SIENDO ÉSTE ÚLTIMO REQUISITO EXCLUYENTE).</p>
        <p class="mb-2"><span class="font-semibold">DURACIÓN APROXIMADA:</span> DOS (2) CUATRIMESTRES.</p>
        <p class="mb-2"><span class="font-semibold">RÉGIMEN DE ESTUDIOS:</span> MODALIDAD A DISTANCIA.</p>
        <p class="mb-2"><span class="font-semibold">VACANTES DISPONIBLES:</span> 40 VACANTES.</p>
        <p class="font-semibold">Link de preinscripción: <a class="text-cyan-600" href="https://forms.gle/Ldi7xFajrDVJD8Tn8">https://forms.gle/Ldi7xFajr...</a></p>
      </div>
    </div>
    <br>
    <div class="md:flex md:justify-between block">
      <img class="imageqr hidden md:block"  src="../../../../assets/img/novedades/posgrado/riesgos_de_desastre.png" alt="">
      <div class="md: ml-5">
        <h3 class="text-teal-600 mb-4 text-center md:text-left">DIPLOMATURA EN GESTIÓN INTEGRAL DE
          RIESGOS DE DESASTRE
        </h3>
        <p class="mb-2"><span class="font-semibold">DESTINATARIOS: </span>PROFESIONALES CON TÍTULO TÉCNICO SUPERIOR, TÍTULO UNIVERSITARIO O TÍTULO DE GRADO RELACIONADO A LA SEGURIDAD PÚBLICA Y QUE CUENTEN CON LA EXPERIENCIA LABORAL AFÍN CON EL ÁREA DE MEDIO AMBIENTE (NO SIENDO ÉSTE ÚLTIMO REQUISITO EXCLUYENTE).</p>
        <p class="mb-2"><span class="font-semibold">DURACIÓN APROXIMADA:</span> DOS (2) CUATRIMESTRES.</p>
        <p class="mb-2"><span class="font-semibold">RÉGIMEN DE ESTUDIOS:</span> MODALIDAD A DISTANCIA.</p>
        <p class="mb-2"><span class="font-semibold">VACANTES DISPONIBLES:</span> 40 VACANTES.</p>
        <p class="font-semibold">Link de preinscripción: <a class="text-cyan-600" href="https://forms.gle/hbdGPEXNnXb8cM1P9">https://forms.gle/hbdGPEXN...</a></p>
      </div>
    </div>
    <br>


    <br>
    <hr>
    <br>
    <div class="">
      <p class="text-center font-bold">Informes</p>
      <p class="text-center">Av. Paseo Colón N° 533 Piso 9 - C.A.B.A.</p>
      <p class="text-center">E-mail:posgradoalumnos.calderon@iugna.edu.ar</p>
    </div>

    <br>
    <br>
    <br>




</div>


<app-footer></app-footer>

