<app-header></app-header>
<p-breadcrumb  [model]="items"></p-breadcrumb>
<div class="membrete">
    <h2 class="subtitulo text-base md:text-lg sm:text-xs lg:text-base">IUGNA: Unidad Académica Escuela Superior</h2>
    </div>

<div class="containerConvocatoria pt-5 pb-5 md: max-w-[80%] sm: max-w-[80%] ">
    <p class="text-cyan-700 text-xl font-bold">Inscripción abierta 2024 para el curso de Posgrado de la Diplomatura en Gestión Integral de Riesgos de Desastre
      </p>
    <br>
    <p class="pl-5">La Unidad Académica Escuela Superior del Instituto Universitario de Gendarmería
      Nacional, informa que se encuentra abierta la inscripción del ciclo lectivo 2024
      correspondientes a:
    </p>
    <br>
    <p class="pl-5 font-bold text-cyan-700">DIPLOMATURA EN GESTIÓN INTEGRAL DE RIESGOS DE DESASTRE:</p>
    <br>
    <p class="pl-5 mb-2"><span class="font-bold">DESTINATARIOS:</span> Ser egresado/a del IUGNA o Institutos afines de otras Fuerzas Federales, o ser profesionales con título de nivel Superior y/o Universitario afín a la temática.</p>
    <p class="pl-5 mb-2"><span class="font-bold">DURACIÓN APROXIMADA:</span> Dos (2) cuatrimestres.</p>
    <p class="pl-5 mb-2"><span class="font-bold">RÉGIMEN DE ESTUDIOS:</span> Modalidad a distancia(sincrónica y asincrónica).</p>
    <p class="pl-5 mb-2"><span class="font-bold">VACANTES DISPONIBLES:</span> 40 VACANTES</p>
    <p class="pl-5 mb-2"><span class="font-bold">UNIDAD ACADÉMICA:</span> Escuela Superior de Gendarmeria Nacional "Grl. Br. D. Manuel Maria Calderon". Sito en AV. Paseo Colon 533.</p>
    <p class="pl-5 mb-2"><span class="font-bold">LINK DE PRE-INSCRIPCIÓN: </span> <a href="https://forms.gle/uc5M3aS3VN58bdjt8"> https://forms.gle/uc5M3aS3VN58bdjt8</a></p>
    <br>

    <div class="cuadro text-center font-bold">
      <p>FECHA DE INSCRIPCIÓN DESDE EL 05FEB24 HASTA EL 04MAR24.</p>
      <p>INICIO DE ACTIVIDADES 11MAR24</p>
    </div>
    <br>
    <p class="pl-5 mb-2"><span class="font-bold">EMAIL DE CONSULTAS: </span>posgradoalumnos.calderon@iugna.edu.ar</p>
    <p class="pl-5 font-bold">LA OFERTA EDUCATIVA ES SIN COSTO.</p>
    <br>
    <br>
    <br>




</div>


<app-footer></app-footer>

