<app-header></app-header>
<p-breadcrumb class=""  [model]="items"></p-breadcrumb>
<hr class="mb-5 hrEscusuper">
<div class="containerBiblioteca">
    <section class="containerBodyBiblioteca">
        <div class="containerImg">
            <img src="../../../../assets/img/iconos/icono-3.png" alt="">
        </div>
        <div>
            <p class="title text-base lg:text-3xl">Unidad Académica Escuela Superior “Grl Br D Manuel María Calderón”</p>
        </div>
    </section>
    <div class="containerHr">
        <hr class="hrBiblioteca ">
    </div>
    <section class="ofertaEscusuper">
        <div class="containerOferta">
            <p class="text-base lg:text-xl pb-3">La Escuela Superior, con la creación de IUGNA (Ley 26.286) pasó a constituirse en una Unidad Académica de grado y posgrado, aumentando significativamente su oferta educativa.</p>
            <p class="text-base lg:text-xl pb-3">Académica de grado y posgrado, aumentando significativamente su oferta educativa. Actualmente desarrollan carreras abiertas a la comunidad, la formación es gratuita y la modalidad presencial. </p>
            <p class="text-base lg:text-xl pb-3">Su oferta académica está constituida por carreras de pregrado, grado y postgrado, ellas son: Calígrafo Público Nacional; los ciclos de complementación curricular para las licenciaturas en: Seguridad Pública, Criminalística, Administración Pública e Investigación Judicial; y además, el Profesorado Universitario.</p>
            <p class="text-base lg:text-xl pb-5">La sede se encuentra ubicada en la Avenida Paseo Colón Nro. 533, Ciudad de Buenos Aires.-</p>

        </div>
    </section>
    <div class="containerHr">
        <hr class="hrBiblioteca hrDivider ">
    </div>
    <section class="containerBodyBiblioteca">
        <div class="containerImg">
            <img class="iconOferta" src="../../../../assets/img/oferta/06.png" alt="">
        </div>
        <div>
            <p routerLink="./oferta/pregrado" class="text-base lg:text-3xl">Oferta Académica</p>

        </div>
    </section>

    <div class="containerHr">
        <hr class="hrBiblioteca hrDivider mb-5">
    </div>
    <section class="containerBodyBiblioteca">
        <div class="containerImg">
            <img class="iconOferta" src="../../../../assets/img/oferta/Oferta Acad-UUAA.png" alt="">
        </div>
        <div>
            <p class="text-base lg:text-3xl">Inscripciones</p>

        </div>
    </section>

    <div class="containerHr">
        <hr class="hrBiblioteca hrDivider mb-5">
    </div>
    <section class="containerBodyBiblioteca">
        <div class="containerImg">
            <img class="iconOferta" src="../../../../assets/img/oferta/incono-extension-uuaa.png" alt="">
        </div>
        <div>
            <p routerLink="./extension" class="text-base lg:text-3xl cursor-pointer">Cursos de Extensión</p>

        </div>
    </section>

    <div class="containerHr">
        <hr class="hrBiblioteca hrDivider mb-5">
    </div>
    <section class="containerBodyBiblioteca">
        <div class="containerImg">
            <img class="iconOferta" src="../../../../assets/img/oferta/calendario.png" alt="">
        </div>
        <div>
            <p class="text-base lg:text-3xl">Calendario Académico</p>

        </div>
    </section>

    <div class="containerHr">
        <hr class="hrBiblioteca hrDivider mb-5">
    </div>
    <section class="containerBodyBiblioteca">
        <div class="containerImg">
            <img class="iconOferta" src="../../../../assets/img/oferta/icono-biblioteca-uuaa.png" alt="">
        </div>
        <div>
            <p routerLink="/biblioteca" class="text-base lg:text-3xl cursor-pointer">Biblioteca</p>

        </div>
    </section>

    <div class="containerHr">
        <hr class="hrBiblioteca hrDivider mb-5">
    </div>


    <br>
    <br>
    <br>
    <br>
    <br>
</div>

