<app-header></app-header>
<p-breadcrumb class=""  [model]="items"></p-breadcrumb>
<hr class="mb-5 hrEscusuper">
<div class="containerBiblioteca">
    <section class="containerBodyBiblioteca">
        <div class="containerImg">
            <img src="../../../../assets/img/iconos/icono-3.png" alt="">
        </div>
        <div>
            <p class="title text-base lg:text-3xl">Unidad Académica Escuela de Gendarmería Nacional “General Don Martín Miguel de Güemes”</p>            
        </div>        
    </section>
    <div class="containerHr">
        <hr class="hrBiblioteca ">
    </div>
    <section class="ofertaEscusuper">
        <div class="containerOferta">
            <p class="text-base lg:text-xl pb-3">La Escuela de Gendarmería Nacional “General Don Martín Miguel de Güemes” es la Unidad Académica de grado del Instituto Universitario, orientada a la formación de los Oficiales de Gendarmería Nacional de carácter integral de nivel universitario y técnico profesional. </p>
            <p class="text-base lg:text-xl pb-3">Su oferta académica está constituida por cuatro carreras de grado con títulos intermedios: </p>
            <ul class="mb-5">
                <li>Licenciatura en Seguridad Pública.</li>
                <li>Licenciatura en Administración Pública. </li>
                <li>Licenciatura en Criminalística.</li>
                <li>Licenciatura en Gestión y Seguridad de la Tecnologías de la Información.</li>
            </ul>
            <p class="text-base lg:text-xl pb-3">Se encuentra ubicada en la localidad de Ciudad Evita, partido de La Matanza, provincia de Buenos Aires.</p>
            
        </div>
    </section>
    <div class="containerHr">
        <hr class="hrBiblioteca hrDivider ">
    </div>
    <section class="containerBodyBiblioteca">
        <div class="containerImg">
            <img class="iconOferta" src="../../../../assets/img/oferta/06.png" alt="">
        </div>
        <div>
            <p routerLink="./oferta/grado" class="text-base lg:text-3xl">Oferta Académica</p>            
            
        </div>        
    </section>
    
    <div class="containerHr">
        <hr class="hrBiblioteca hrDivider mb-5">
    </div>
    <section class="containerBodyBiblioteca">
        <div class="containerImg">
            <img class="iconOferta" src="../../../../assets/img/oferta/Oferta Acad-UUAA.png" alt="">
        </div>
        <div>
            <p class="text-base lg:text-3xl">Información de Interés</p>            
            
        </div>        
    </section>
    
    <div class="containerHr">
        <hr class="hrBiblioteca hrDivider mb-5">
    </div>
    <section class="containerBodyBiblioteca">
        <div class="containerImg">
            <img class="iconOferta" src="../../../../assets/img/oferta/icono-biblioteca-uuaa.png" alt="">
        </div>
        <div>
            <p routerLink="./biblioteca" class="text-base lg:text-3xl">Biblioteca</p>            
            
        </div>        
    </section>
    
    <div class="containerHr">
        <hr class="hrBiblioteca hrDivider mb-5">
    </div>
    
    
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<app-footer></app-footer>
