<div class="containerContentDinamico m-3">
    <p class="title mb-3">Cursos de Nivelacion</p>
    <hr class="mb-5">
    <p class="mb-5">Se dictan en el segundo cuatrimestre en horario vespertino.</p>
    <p class="mb-5">El propósito de estos cursos es proporcionar una formación básica común y un espacio para el desarrollo de hábitos intelectuales necesarios para encarar una carrera de nivel universitario.</p>
    <h2 class="mb-3">Destinatarios</h2>
    <p class="mb-5">Están dirigidos a todos aquellos interesados en cursar los Ciclos de Licenciatura, con títulos de técnicos superiores de carreras menores a tres años o 1600 horas.</p>
    <h2 class="mb-3">Objetivos</h2>
    <p class="mb-5">Desarrollar competencias académicas necesarias para encarar una carrera de nivel universitario. Construir un conocimiento básico común sobre la Licenciatura.</p>
    <div>
        <hr class="mb-5">
        <p class="title3 mb-3">Curso de Nivelación de la carrera de Licenciatura en Seguridad Pública  - Ciclo de Complementación Curricular</p>
        <p class="mb-3">Resolución Ministerial: RS-2019-102098680- APN-DIREDTOS#GNA</p>
        <hr class="mb-5">
    </div>
    <div>
        <p class="title3 mb-3">Curso de Nivelación de la carrera de Licenciatura en Administración Pública - Ciclo de Complementación Curricular</p>
        <p class="mb-3">Resolución Ministerial: RS-2019-102104907- APN-DIREDTOS#GNA</p>
        <hr class="mb-5">
    </div>
    <div>
        <p class="title3 mb-3">Curso de Nivelación de la carrera de Licenciatura en Criminalística - Ciclo de Complementación Curricular</p>
        <p class="mb-3">Resolución Ministerial: RS-2019-102101760-APN-DIREDTOS#GNA</p>
        <hr class="mb-5">
    </div>
    <div>
        <p class="title3 mb-3">Curso de Nivelación de la carrera de Investigación Judicial -Ciclo de Complementación Curricular</p>
        <p class="mb-3">Resolución Ministerial: RESOL-2020-5-APN-IUGNA#GNA</p>
        <hr class="mb-5">
    </div>
</div>
