<app-header></app-header>
<p-breadcrumb class=""  [model]="items"></p-breadcrumb>
<div class="membrete">
    <img class="imgHome pr-3" src="../../../../assets/img/oferta/icono-3-UUAA.png" alt=""> 
    <h2 class="subtitulo">Unidades Académicas</h2>
</div>
<div class="containerBiblioteca">
    <hr class="mb-5">
    <section class="containerBodyBiblioteca">
        <div class="containerImg">
            <img src="../../../../assets/img/iconos/icono-3.png" alt="">
        </div>
        <div>
            <p routerLink="/uuaa/escusuper" class="text-base instituto lg:text-3xl">Escuela Superior “Grl Br D Manuel María Calderón”</p>            
        </div>        
    </section>
    <div class="containerHr">
        <hr class="hrBiblioteca ">
    </div>
    <section class="ofertaEscusuper">
        <ul>
            <li routerLink="./escusuper/oferta/pregrado"><i class="pi pi-angle-right mr-2"></i>Oferta Académica</li>
            <li><i class="pi pi-angle-right mr-2"></i>Inscripciones</li>
            <li routerLink="./escusuper/extension"><i class="pi pi-angle-right mr-2"></i>Cursos de Extensión</li>
            <li><i class="pi pi-angle-right mr-2"></i>Calendario</li>
            <li routerLink="./escusuper/biblioteca"><i class="pi pi-angle-right mr-2"></i>Biblioteca</li>
        </ul>
    </section>
    <section class="containerBodyBiblioteca">
        <div class="containerImg">
            <img src="../../../../assets/img/iconos/icono-3.png" alt="">
        </div>
        <div>
            <p routerLink="/uuaa/escugen" class="text-base instituto lg:text-3xl">Escuela de Gendarmería Nacional "Grl D Martín Miguel de Güemes"</p>            
        </div>        
    </section>
    <div class="containerHr">
        <hr class="hrBiblioteca ">
    </div>
    <section class="ofertaEscusuper">
        <ul>
            <li routerLink="/uuaa/escugen/oferta/grado"><i class="pi pi-angle-right mr-2"></i>Oferta Académica</li>
            <li routerLink="/uuaa/escugen/biblioteca"><i class="pi pi-angle-right mr-2"></i>Biblioteca</li>
        </ul>
    </section>
    <section class="containerBodyBiblioteca">
        <div class="containerImg">
            <img src="../../../../assets/img/iconos/icono-3.png" alt="">
        </div>
        <div>
            <p routerLink="/uuaa/escusub" class="text-base instituto lg:text-3xl">Escuela de Suboficiales "Cabo Raúl Remberto Cuello"</p>            
        </div>        
    </section>
    <div class="containerHr">
        <hr class="hrBiblioteca ">
    </div>
    <section class="ofertaEscusuper">
        <ul>
            <li routerLink="/uuaa/escusub/oferta/tecnicaturas"><i class="pi pi-angle-right mr-2"></i>Oferta Académica</li>
            <li routerLink="/uuaa/escusub/biblioteca"><i class="pi pi-angle-right mr-2"></i>Biblioteca</li>
        </ul>
    </section>
    <section class="containerBodyBiblioteca">
        <div class="containerImg">
            <img src="../../../../assets/img/iconos/icono-3.png" alt="">
        </div>
        <div>
            <p routerLink="/uuaa/inscaes" class="text-base instituto lg:text-3xl">Instituto de Capacitación Especializada "Cabo Juan Adolfo Romero"</p>            
        </div>        
    </section>
    <br>
    <div class="containerHr mb-5">
        <hr class="hrBiblioteca ">
    </div>
    <section class="containerBodyBiblioteca">
        <div class="containerImg">
            <img src="../../../../assets/img/iconos/icono-3.png" alt="">
        </div>
        <div>
            <p routerLink="/uuaa/insbarreal" class="text-base instituto lg:text-3xl">Instituto de Formación de Gendarmes "Gendarme Félix Manifior"</p>            
        </div>        
    </section>
    <div class="containerHr">
        <hr class="hrBiblioteca ">
    </div>
    
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<app-footer></app-footer>
