<app-header></app-header>
<p-breadcrumb class=""  [model]="items"></p-breadcrumb>
<div class="membrete">
    <h1 class="subtitulo">Cursos de Extension</h1>
</div>
<section class="containerContent mt-5 mb-5">
    <p>Los cursos de extensión, de régimen cuatrimestral, están dirigidos a la comunidad y al personal de la Fuerza, mayores de 18 años de edad con secundario completo. </p>
    <p>La formación es gratuita y se desarrollan de manera presencial en la sede de la Unidad Académica Escuela Superior, ubicada sobre Av Paseo Colón 533, Ciudad de Buenos Aires.</p>
    <P>Para las inscripciones o realizar consultas puede hacerlo por via email a: extension.escusuper@iugna.edu.ar (lunes a viernes de 08.00 a 19.00 hs.).</P>
</section>
<div class="container">
    <div>
        <section class="containerCuatrimestres mb-5">
            <p class="subtitulo2 pb-3">Primer Cuatrimestre</p>
            <hr class="mb-3">
            <ul>
                <li>Francés - Nivel I</li>
                <li>Inglés - Nivel I</li>
            </ul>
        </section>
        <section class="containerCuatrimestres mb-5">
            <p class="subtitulo2 pb-3">Segundo Cuatrimestre</p>
            <hr class="mb-3">
            <ul>
                <li>Francés - Nivel II</li>
                <li>Inglés - Nivel II</li>
                <li>Liderar para el Cambio</li>
                <li>Introducción a la Mediación y a la Negociación</li>
            </ul>
        </section>
        <section class="containerCuatrimestres mt-5 mb-5">
            <hr class="mb-3">
            <ul>
                <li class="mb-3">Contacto</li>
            </ul>
            <p>Lunes a viernes de 8 a 19horas</p>
            <p>extension.escusuper@iugna.edu.ar</p>
        </section>
    </div>
    <div class="containerImage">
        <img class="imgExtension" src="../../../../assets/img/oferta/incono-extension-uuaa.png" alt="">
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<app-footer></app-footer>