<app-header></app-header>
<p-breadcrumb class=""  [model]="items"></p-breadcrumb>
<div class="membrete">
    <h1 class="subtitulo">Cursos de Extension</h1>
</div>
<section class="containerContent mt-5 mb-5">
    <p>Los cursos de extensión, de régimen cuatrimestral, están dirigidos a la comunidad y al personal de la Fuerza, mayores de 18 años de edad con secundario completo. </p>
    <br>
    <p>La oferta educativa es gratuita y se desarrolla bajo la modalidad: presencial y virtual.</p>
    <br>
    <P>La sede de la Unidad Académica Escuela Superior se encuentra ubicada sobre la Av. Paseo Colón N° 533, Ciudad de Buenos Aires.</P>
</section>
<div class="container">
    <div>
        <section class="containerCuatrimestres mb-5">
            <p class="subtitulo2 pb-3">Primer Cuatrimestre</p>
            <hr class="mb-3">
            <h3 class="text-yellow-600">Modalidad Presencial</h3>
            <br>
            <ul>
                <li>Inglés Nivel III</li>
                <li>Francés Nivel I</li>
            </ul>
            <br>
            <h3 class="text-yellow-600">Modalidad Virtual</h3>
            <br>
            <ul>
                <li>Inglés - Nivel I</li>
                <li>Introducción a la Gestión Organizacional</li>
                <li>Prevención del Delito</li>
            </ul>
            <br>
        </section>
        <section class="containerCuatrimestres mb-5">
            <p class="subtitulo2 pb-3">Segundo Cuatrimestre</p>
            <hr class="mb-3">
            <h3 class="text-yellow-600">Modalidad Virtual</h3>
            <br>
            <ul>
                <li>Inglés Nivel II</li>
                <li>Análisis del Delito</li>
            </ul>
            <br>
            <h3 class="text-yellow-600">Modalidad Presencial</h3>
            <br>
            <ul>
                <li>Mediación - Negociación</li>
                <li>Francés - Nivel II</li>
                <li>Francés - Nivel III</li>
                <li>Inglés Nivel IV - (Pre-intermedio)</li>
            </ul>
            <br>
        </section>

        <p routerLink="/novedad/extension" class="text-green-500 font-bold text-xl italic cursor-pointer">Inscripciones Abiertas 2025</p>
        <p class="font-bold text-xl">19 de junio hasta el 05 de agosto de 2025</p>

        <section class="containerCuatrimestres mt-5 mb-5">
            <hr class="mb-3">
            <ul>
                <li class="mb-3">Contacto</li>
            </ul>
            <p>Lunes a viernes de 8 a 19horas</p>
            <p>extension.escusuper&commat;iugna.edu.ar</p>
        </section>
    </div>
    <div class="containerImage">
        <img class="imgExtension" src="/assets/img/oferta/incono-extension-uuaa.png" alt="">
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<app-footer></app-footer>
