<app-header></app-header>
<p-breadcrumb  [model]="items"></p-breadcrumb>
<div class="membrete">
    <h2 class="subtitulo">Convocatoria y Selección de Docentes  Interinos</h2>
</div>
<div class="containerConvocatoria pt-5 pb-5">
    <p class=" text-base lg:text-lg pb-3">El Consejo Académico (CA) del Instituto Universitario de Gendarmería Nacional Argentina (IUGNA) aprobó mediante Resolución Nro. 04/20, el procedimiento académico de selección de docentes interinos junto con sus correspondientes anexos.</p>
    <p class=" text-base lg:text-lg pb-3">La Comisión Especial ad-hoc de Asuntos Académicos procedió en la elaboración del documento final con los aportes realizados por cada una de las Unidades Académicas (UUAA). </p>
    <p class=" text-base lg:text-lg pb-3">Las convocatorias para cubrir las vacantes que surjan durante los ciclos lectivos, se llevarán a cabo en:</p>
    <ul class=" text-base lg:text-lg pb-3 pl-5">
        <li>Escuela Superior</li>
        <li>Escuela de Gendarmería Nacional</li>
        <li>Escuela de Suboficiales</li>
        <li>Instituto de Capacitación Especializada</li>
        <li>Instituto de Formación de Gendarmes</li>
    </ul>
    <div class="buttonConvocatoria">
        <p routerLink="/convocatoria-docentes" class="p-5 bg-cyan-700 text-white text-base lg:text-lg w-2/4 cursor-pointer hover:bg-cyan-400">CONVOCATORIAS ABIERTAS</p>
    </div>

</div>

<app-footer></app-footer>
