.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.containerLogin {
    width: 30%;
    display: flex;
    justify-content: center;
    padding: 3% 2%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.24);
-moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.24);
box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.24);
}

:host ::ng-deep .cardLogin {
    width: 100%;
}

:host ::ng-deep .containerButtonLogin {
    width: 100%;
    display: flex;
    justify-content: center;
}

:host ::ng-deep .buttonLogin {
    text-align: center !important;
    background-color:  rgb(58, 149, 142)
}

:host ::ng-deep figure {
    width: 100%;
    display: flex;
    justify-content: center;
}

:host ::ng-deep .iconIugna {
    width: 80%;
    text-align: center;
}

/* loading */

.spinnerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(1, 79, 86);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}