<app-header></app-header>
<p-breadcrumb  [model]="items"></p-breadcrumb>
<div class="membrete">
    <h2 class="subtitulo text-base md:text-lg sm:text-xs lg:text-base">CONVOCATORIA DE PROFESIONALES PARA CUBRIR CARGOS DE DOCENTES
      INTERINOS</h2>
    </div>

<div class="containerConvocatoria pt-5 pb-5">
    <p class="text-teal-600 text-xl font-bold">Unidad Académica Escuela Superior de Gendarmería Nacional “Grl Br D Manuel María Calderón”</p>


    <h3 class="pt-5 text-orange-500">CARRERA: ESPECIALIZACIÓN EN INVESTIGACIÓN DE LAVADO DE ACTIVOS</h3>
    <div>
      <div class="pt-5">
        <h4 class="text-orange-500">MATERIA A CUBRIR: TIPOLOGÍAS DE LAVADO</h4>
        <ul class="pt-3 pl-6">
          <li class="mt-2"><span class="text-base font-bold">1 (UNO) Cargo:</span> Docente Interino Frente al Alumno</li>
          <li class="mt-2"><span class="text-base font-bold">Agrupamiento:</span> Profesor Ordinario</li>
          <li class="mt-2"><span class="text-base font-bold">Categoría:</span> Profesor Adjunto</li>
          <li class="mt-2"><span class="text-base font-bold">Dedicación:</span> Semiexclusiva</li>
        </ul>
      </div>
      <div class="pt-5">
        <h4 class="text-orange-500">MATERIA A CUBRIR: CIENCIA DE DATOS APLICADAS A LA INVESTIGACIÓN DEL
          LAVADO DE ACTIVOS</h4>
        <ul class="pt-3 pl-6">
          <li class="mt-2"><span class="text-base font-bold">1 (UNO) Cargo:</span> Docente Interino Frente al Alumno</li>
          <li class="mt-2"><span class="text-base font-bold">Agrupamiento:</span> Profesor Ordinario</li>
          <li class="mt-2"><span class="text-base font-bold">Categoría:</span> Profesor Adjunto</li>
          <li class="mt-2"><span class="text-base font-bold">Dedicación:</span> Semiexclusiva</li>
        </ul>
      </div>
      <div class="pt-5">
        <h4 class="text-orange-500">MATERIA A CUBRIR: RECUPERO DE ACTIVOS Y COOPERACIÓN INTERNACIONAL</h4>
        <ul class="pt-3 pl-6">
          <li class="mt-2"><span class="text-base font-bold">1 (UNO) Cargo:</span> Docente Interino Frente al Alumno</li>
          <li class="mt-2"><span class="text-base font-bold">Agrupamiento:</span> Profesor Ordinario</li>
          <li class="mt-2"><span class="text-base font-bold">Categoría:</span> Profesor Adjunto</li>
          <li class="mt-2"><span class="text-base font-bold">Dedicación:</span> Semiexclusiva</li>
        </ul>
      </div>
      <div class="pt-5">
        <h4 class="text-orange-500">MATERIA A CUBRIR: DERECHO PENAL ECONÓMICO</h4>
        <ul class="pt-3 pl-6">
          <li class="mt-2"><span class="text-base font-bold">1 (UNO) Cargo:</span> Docente Interino Frente al Alumno</li>
          <li class="mt-2"><span class="text-base font-bold">Agrupamiento:</span> Profesor Ordinario</li>
          <li class="mt-2"><span class="text-base font-bold">Categoría:</span> Profesor Adjunto</li>
          <li class="mt-2"><span class="text-base font-bold">Dedicación:</span> Simple</li>
        </ul>
      </div>


    <br>
    <a class="text-blue-500 text-center cursor-pointer" href="../../../../assets/pdfs/escusuper/CONVOCATORIA_DOCENTES_INTERINOS_ESCUSUPER_2024.PDF">Más información aqui</a>
</div>
</div>
<div class="border-solid border-4 border-teal-500 p-5 m-5">
    <p>Documentación de Interés:</p>
    <ul class="list-none ">
      <li class="text-center"><a href="../../../../assets/pdfs/novedades/ANEXO_II_-_SOLICITUD_DE_INSCRIPCION.pdf" class="text-blue-500 text-center cursor-pointer 	no-underline">1. ANEXO II - “SOLICITUD DE INSCRIPCIÓN” </a></li>
      <li class="text-center"><a class="text-blue-500 cursor-pointer 	no-underline" href="../../../../assets/pdfs/novedades/ANEXO_III_-_CURRICULUM_VITAE.pdf">2. ANEXO III - “CURRICULUM VITAE” </a></li>
    </ul>
</div>

<p class="m-5"><b>*El plazo de inscripción es desde las 00:00 hs del día 10 de abril hasta las 23:30 hs del
  día 19 de abril de 2024.-</b></p>

<app-footer></app-footer>
