<app-header></app-header>
<p-breadcrumb  [model]="items"></p-breadcrumb>
<div class="membrete">
    <h2 class="subtitulo">CONVOCATORIA DE PROFESIONALES PARA CUBRIR CARGOS DE DOCENTES
      INTERINOS</h2>
    </div>

<div class="containerConvocatoria pt-5 pb-5">
    <p class="text-teal-600 text-xl font-bold">Unidad Académica Escuela Superior de Gendarmería Nacional “Grl Br D Manuel María Calderón”</p>
    <br>
    <hr>
    <div>
      <br>
      <p class="text-teal-600 text-base font-bold">Un profesional para coordinar el proceso de producción del material:</p>
      <ul class="pl-5 list-none">
        <br>
        <li><b>- Rol a desempeñar:</b>  Asesor técnico-pedagógico y diseñador didáctico</li>
        <li><b>- Área:</b> Equipo de gestión a distancia (grado y posgrado)</li>
        <li><b>- Cargo:</b>  Docente Interino Gestión</li>
        <li><b>- Agrupamiento Docente:</b>  Docentes de apoyo técnico educativo</li>
        <li><b>- Categoría:</b>  otros profesionales de apoyo técnico o docente</li>
        <li><b>- Dedicación:</b>  Semiexclusiva</li>
      </ul>
      <br>
      <p>*Para el cargo se espera que los interesados posean títulos de Grado (o posgrados) en el área del
        conocimiento de: Licenciado en Educación, Licenciado en Ciencias de la Educación, Licenciado en
        Gestión Educativa, Licenciado en Gestión de Instituciones Educativas, a fines.</p>
    </div>
    <br>
    <div>
      <br>
      <p class="text-teal-600 text-base font-bold">Un profesional para la ayuda técnica y el diseño multimedial:</p>
      <ul class="pl-5 list-none">
        <br>
        <li><b>- Rol a desempeñar:</b>  Profesional especialista o experto en manejo técnico y diseño
          multimedial en sistemas de aprendizaje con soportes en tecnologías de la
          información y comunicación.</li>
        <li><b>- Área:</b> Equipo de gestión a distancia (grado y posgrado)</li>
        <li><b>- Cargo:</b>  Docente Interino Gestión</li>
        <li><b>- Agrupamiento Docente:</b>  Docentes de apoyo técnico educativo</li>
        <li><b>- Categoría:</b>  Profesional Especialista o Experto en sistemas de aprendizaje con
          soportes en tecnologías de la información y comunicación (e-learning)</li>
        <li><b>- Dedicación:</b>  Semiexclusiva</li>
      </ul>
      <br>
      <p>* Para el cargo se espera que los interesados posean títulos de Grado en el área del
        conocimiento de: diseño multimedia o de interacción, diseño multimedial, diseño digital,
        diseño gráfico, diseño web, a fines. Formación o capacitación en entorno Moodle.</p>
    </div>
    <br>
    <div>
      <br>
      <p class="text-teal-600 text-base font-bold">Departamento Alumnos un profesional administrativo:</p>
      <ul class="pl-5 list-none">
        <br>
        <li><b>- Rol a desempeñar:</b>  Integrante de equipo administrativo</li>
        <li><b>- Área:</b> Departamento Alumnos – Equipo de gestión a distancia (grado y posgrado)</li>
        <li><b>- Cargo:</b>  Docente Interino Gestión</li>
        <li><b>- Agrupamiento Docente:</b>  Docentes de apoyo técnico educativo</li>
        <li><b>- Categoría:</b>Otros profesionales de apoyo técnico o docente.</li>
        <li><b>- Dedicación:</b>  Semiexclusiva</li>
      </ul>
      <br>
      <p>* Para el cargo se espera que los interesados sean graduados en alguna carrera de grado
        orientada al área de conocimiento en el uso de sistema de gestión universitario o manejo de
        entornos virtuales.</p>
    </div>
    <br>
    <div>
      <br>
      <p class="text-teal-600 text-base font-bold">División Autoevaluación se incorporará un profesional:</p>
      <ul class="pl-5 list-none">
        <br>
        <li><b>- Rol a desempeñar:</b> Integrante de equipo</li>
        <li><b>- Área:</b>División Autoevaluación</li>
        <li><b>- Cargo:</b>  Docente Interino Gestión</li>
        <li><b>- Agrupamiento Docente:</b>  Docentes de apoyo técnico educativo</li>
        <li><b>- Categoría:</b>Otros profesionales de apoyo técnico o docente.</li>
        <li><b>- Dedicación:</b>  Semiexclusiva</li>
      </ul>
      <br>
      <p>* Para el cargo se espera que los interesados posean títulos de Grado (o posgrados) en el área
        del conocimiento de: Licenciado en Educación, Licenciado en Ciencias de la Educación, Licenciado
        en Gestión educativa, Licenciado en Gestión de Instituciones Educativas, Licenciado en Dirección
        y Supervisión de Instituciones Educativas.</p>
    </div>
    <br>
    <a class="text-teal-500 text-center cursor-pointer" href="../../../../assets/pdfs/pdf/CARGOS_GESTION_APOYO_EDUCATIVO_ESCUELA_SUPERIOR.pdf">Más información aqui</a>
</div>
<div class="border-solid border-2 border-teal-500 p-5 m-5">
    <p>Documentación de Interés:</p>
    <ul class="list-none">
      <li class="text-center"><a href="../../../../assets/pdfs/novedades/ANEXO_II_-_SOLICITUD_DE_INSCRIPCION.pdf" class="text-teal-500 text-center cursor-pointer 	no-underline">- “SOLICITUD DE INSCRIPCIÓN” - ANEXO II</a></li>
      <li class="text-center"><a class="text-teal-500 text-center cursor-pointer 	no-underline" href="../../../../assets/pdfs/novedades/ANEXO_III_-_CURRICULUM_VITAE.pdf"> - “CURRICULUM VITAE” - ANEXO III</a></li>
    </ul>
</div>

<p class="m-5"><b>*El plazo de inscripción es desde las 00:00 hs del día 13 de junio hasta las 23:30 hs del
  día 22 de junio de 2023.-</b></p>

<app-footer></app-footer>
