<app-header></app-header>
<!-- <div class="containerImg mt-2 mb-2">
    <img src="../../../../assets/img/novedades/banner/novedadCiclos.png" alt="">
</div> -->
<div class="mb-3">
    <p class="lugar">IUGNA: Unidad Académica Escuela Superior</p>
</div>
<section class="containerNovedad">
    <p class="title mb-3 text-teal-600">Inscripciones abiertas 2023 para los Ciclos de
        Licenciatura, Profesorado Universitario y
        Calígrafo Público Nacional
    </p>
    <p class="date mb-3">01/11/22</p>
    <hr class="mb-5">
    <p class="text-xl">La Unidad Académica Escuela Superior del Instituto Universitario de Gendarmería
        Nacional, informa que se encuentran las inscripciones abiertas del ciclo lectivo 2023
        correspondientes a los <b> Ciclos de Licenciatura en: Seguridad Pública, Administración
        Pública, Criminalística, Investigación Judicial y el Profesorado Universitario. Para la
        carrera de pregrado: Calígrafo Público Nacional.</b> Desde 01 de noviembre al 20 de
        diciembre de 2022 y desde 06 al 25 de febrero de 2023.
    </p>
    <br>
    <p class="text-xl">La modalidad de cursada de las carreras es de carácter presencial en la sede
        ubicada en av. Paseo Colón Nº 533, CABA.
    </p>
    <br>
    <p class="text-xl">Información sobre requisitos de ingreso, documentación para la inscripción y el
        plan de estudio de las carreras acceder <a routerLink="/uuaa/escusuper/oferta/ciclos">aqui</a>
    </p>
    <br>
    <p class="text-xl">También puede contactarse al correo electrónico o nro de teléfono:</p>
    <br>
    <p class="text-xl"><i class='bx bxs-envelope pr-3' undefined ></i>ciclospreinscripciones@iugna.edu.ar
    </p>
    <br>
    <p class="text-xl"><i class='bx bxs-phone pr-3'></i>Tel.: 11-5169-3364.-</p>
    <br>
    <br>
    <br>
</section>
<app-footer></app-footer>
