<app-header></app-header>
<p-breadcrumb  [model]="items"></p-breadcrumb>
<!-- <div class="containerImg mt-2 mb-2">
    <img src="../../../../assets/img/novedades/banner/novedadCiclos.png" alt="">
</div> -->
<div class="mb-3">
    <p class="lugar text-xl">IUGNA: Unidad Académica Escuela Superior</p>
</div>
<section class="containerNovedad">
    <p class="title mb-3 text-teal-600">Inscripciones abiertas 2023 para los Cursos de Nivelación de los Ciclos de Licenciaturas </p>
    <br>
    <p>La Unidad Académica Escuela Superior del Instituto Universitario de Gendarmería
      Nacional, informa que se encuentran las inscripciones abiertas para los Cursos de
      Nivelación de los Ciclos de Complementación Curricular de las carreras
      correspondientes a: <span class="font-bold">Seguridad Pública, Administración Pública, Criminalística e
        Investigación Judicial</span>, desde el 02 de junio al 01 de
      agosto de 2023.</p>
      <br>
      <p>La modalidad de cursada es de carácter presencial en la sede ubicada en av. Paseo
        Colón Nº 533, CABA.</p>
      <br>
      <p>Requisitos de admisión:</p>
    <!-- <p class="date mb-3">01/11/22</p>
    <hr class="mb-5"> -->

    <br>
    <ul class="list-none pl-3">
      <li>Título Técnico Superior afín de conocimiento que desee inscribirse, con una
        carga horaria inferior a 1600 horas reloj y no menor a 1400 horas de reloj.</li>
        <br>
      <li>El inicio de las clases es el día 07 de agosto, los lunes y miércoles a partir de las
        14:30 horas.</li>
    </ul>
    <br>
    <p>Documentación requerida para la inscripción:</p>
    <br>
    <ul class="list-none pl-3 ">
      <li>a. Fotocopia de DNI, frente y dorso </li>
      <br>
      <li>b. <a href="../../../../assets/pdfs/pdf/EXAMEN_FISICO_DE_INGRESO.pdf">Ficha de examen apto</a></li>
      <br>
      <li>c. Fotocopia del título y analítico de técnico Superior o constancia de título en
        trámite.</li>
        <br>
      <li>d. <a href="https://preinscripcion.iugna.edu.ar/escuelas/">Ficha de preinscripción SIU.</a></li>
    </ul>
    <br>
    <p  class="font-bold">La oferta educativa es gratuita.</p>
    <br>
    <hr>
    <br>
    <p>*Para el envío de la documentación (en un único documento en formato pdf,
      legible y no jpg) y por consultas sobre la inscripción puede enviar al siguiente
      correo electrónico:</p>
      <br>
     <p class="text-teal-500 font-bold"><i class="pi pi-envelope " style="font-size: 1.5rem"></i> ciclospreinscripciones@iugna.edu.ar</p>
    <br>
    <br>
    <br>
    <br>
    <!-- <div class="border-solid border-2 border-teal-500 p-5">
      <p>Documentación de Interés:</p>
      <ul class="list-none">
        <li class="text-center"><a href="../../../../assets/pdfs/novedades/ANEXO_II_-_SOLICITUD_DE_INSCRIPCION.pdf" class="text-teal-500 text-center cursor-pointer 	no-underline">- “SOLICITUD DE INSCRIPCIÓN” - ANEXO II</a></li>
        <li class="text-center"><a class="text-teal-500 text-center cursor-pointer 	no-underline" href="../../../../assets/pdfs/novedades/ANEXO_III_-_CURRICULUM_VITAE.pdf"> - “CURRICULUM VITAE” - ANEXO III</a></li>
      </ul>
    </div> -->
    <br>
    <br>
</section>
<app-footer></app-footer>
