<app-header></app-header>
<!-- <div class="containerImg mt-2 mb-2">
    <img src="../../../../assets/img/novedades/banner/novedadCiclos.png" alt="">
</div> -->
<div class="mb-3">
    <p class="lugar">IUGNA: Unidad Académica Escuela Superior</p>
</div>
<section class="containerNovedad">
    <p class="title mb-3 text-teal-600">Inscripciones abiertas para los Cursos de Extensión Universitaria 2023
    </p>
    <br>
    <!-- <p class="date mb-3">01/11/22</p>
    <hr class="mb-5"> -->
    <p class="text-xl">La Unidad Académica Escuela Superior del Instituto Universitario de
      Gendarmería Nacional, informa que se encuentran abiertas las inscripciones
      para los <b>Cursos de Extensión Universitaria, hasta el 31 de marzo del
      corriente año</b>, correspondientes a:
    </p>
    <br>
    <ul class="list-none">
      <li class="text-xl"><i class="text-teal-600 bx bx-check pr-5"></i><b class="text-teal-600">Taller de idioma</b>, con metodología práctica en laboratorio:</li>
      <br>
      <ul class="ml-5 list-disc">
        <li class="text-xl"><b class="text-teal-600">Francés Nivel I.</b> Los días martes y jueves de 15.30 a 17.30 horas</li>
        <br>
        <li class="text-xl"><b class="text-teal-600">Francés Nivel III.</b> Los días lunes y miércoles de 15.30 a 17.30 horas.</li>
        <br>
      </ul>
      <li class="text-xl"><i class="text-teal-600 bx bx-check pr-5"></i><b class="text-teal-600">Curso Liderar para el cambio</b>. Los días martes de 15.30 a 18.30 horas.</li>
    </ul>
    <br>
    <p class="text-xl">Las clases se desarrollan bajo la modalidad presencial. La duración es
      cuatrimestral desde el 03 de abril hasta el 29 de junio del año 2023.-
    </p>
    <br>
    <p class="text-xl"><b>Requisitos de admisión acceder </b><a href="../../../../assets/pdfs/novedades/EXTENSION-2023.png">aqui</a>
    </p>
    <br>
    <p class="text-xl"><b>Formulario de preinscripción: </b><a href="https://forms.gle/4AGG1ceQSJXQfLkf7">https://forms.gle/4AGG1ceQSJXQfLkf7</a>
    </p>
    <br>
    <p class="text-xl">Por consultas puede escribir al correo electrónico:</p>
    <br>
    <p class="text-xl"><i class='bx bxs-envelope pr-3' undefined ></i>extension.escusuper@iugna.edu.ar
    <br>
    <br>
</section>
<app-footer></app-footer>
