.containerImg {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100% !important;
}

img {
    width: 100vw;
}

.lugar {
    
    padding: 1% 10% 1% 10%;
    background-color: #69AEA9;
    color: white;
    font-weight: 800;
}

.title {
    font-size: 1.8rem;
    font-weight: 500;
}

.novedad {
    font-size: 1.2rem;
}
.containerNovedad {
    margin: auto;
    width: 80vw;
}

:host ::ng-deep li {
    margin-left: 3% !important;
}

p {
    line-height: 170%;
}