
<section  class="cardContainer">
    <div class="containerLogin">
        <div class=" surface-card p-12 lg:w-12 cardLogin">
            <figure>
                <img class="iconIugna" src="../../../../assets/img/banner.png" alt="">
            </figure>
            <div class="text-center mb-5">
            </div>
        
            <form autocomplete="off" [formGroup]="formRegister">
        
                <label class="block text-900 font-medium mb-2">Nueva Contraseña</label>
                <input formControlName="password" type="password" pInputText class="text-center w-full mb-3" autocomplete="off">
                <small *ngIf="form['password'].errors?.['required'] || campoValido('password')" class="p-error block">Debe contener al menos 8 caracteres, 1 letra mayúscula y 1 caracter especial</small>
                <br>
                <label class="block text-900 font-medium mb-2">Reingrese su contraseña</label>
                <input formControlName="repassword" type="password" pInputText class="text-center w-full mb-3" autocomplete="off">
                <small *ngIf="form['repassword'].errors && campoValido('repassword')" class="p-error block">Las contraseñas no coinciden</small>
                <br>
    
                <div class="containerButtonLogin">
                    <button (click)="updatePassword()" [disabled]="formRegister.invalid" pButton pRipple label="ACTUALIZAR CONTRASEÑA"  class= "buttonLogin lg:w-6 mb-6"></button>
                </div>            
            </form>
        </div>
    </div>
</section>
<p-toast position="top-right"></p-toast>