:host ::ng-deep .cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
:host ::ng-deep .containerLogin {
    width: 30%;
    display: flex;
    justify-content: center;
    padding: 3% 2%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.24);
-moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.24);
box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.24);
}

:host ::ng-deep .cardLogin {
    width: 100%;
}

:host ::ng-deep .containerButtonLogin {
    width: 100%;
    display: flex;
    justify-content: center;
}

:host ::ng-deep .buttonLogin {
    text-align: center !important;
    background-color:  rgb(58, 149, 142)
}

:host ::ng-deep figure {
    width: 100%;
    display: flex;
    justify-content: center;
}

:host ::ng-deep .iconIugna {
    width: 80%;
    text-align: center;
}