<div class="containerMenuDinamico m-3">
    <p class="title mb-3">Tecnicaturas</p>
    <hr>
    <div>
        <p class="title2 mt-3 mb-3">Carrera: Tecnicatura Universitaria en Seguridad Pública y Ciudadana</p>
        <p class="title3 mb-3">Título: Técnico Universitario en Seguridad Pública y Ciudadana</p>
        <p class="mb-3">Duración: 3 años</p>
        <p class="mb-3">Resolución Ministerial: RESOL-2017-1168-APN-ME</p>
        <p class="title4 mb-5"><a href="../../../../assets/pdfs/escusub/TECNICATURAS_escusub_SEG_PUB_Y_CIU.pdf">Plan de estudios</a></p>
        <hr class="mb-5">
    </div>
    <div>
        <p class="title2 mt-3 mb-3">Carrera: Tecnicatura Universitaria en Seguridad Pública y Ciudadana con orientación en Administración Pública</p>
        <p class="title3 mb-3">Título: Tecnico Universitario en Seguridad Pública y Ciudadana con orientación en Administración Pública</p>
        <p class="mb-3">Duración: 3 años</p>
        <p class="mb-3">Resolución Ministerial: RESOL-2017-1166-APN-ME</p>
        <p class="title4 mb-5"><a href="../../../../assets/pdfs/escusub/TECNICATURAS_escusub_ADM_PUB2.pdf">Plan de estudios</a></p>
        <hr class="mb-5">
    </div>
    <div>
        <p class="title2 mt-3 mb-3">Carrera: Tecnicatura Universitaria en Seguridad Pública y Ciudadana con orientación en Criminalística</p>
        <p class="title3 mb-3">Título: Tecnicó Universitario en Seguridad Pública y Ciudadana con orientación en Criminalística</p>
        <p class="mb-3">Duración: 3 años</p>
        <p class="mb-3">Resolución Ministerial: RESOL-2017-654-APN-ME</p>
        <p class="title4 mb-5"><a href="../../../../assets/pdfs/escusub/TECNICATURAS_escusub_CRIMINALISTICA.pdf">Plan de estudios</a></p>
        <hr class="mb-5">
    </div>
    <div>
        <p class="title2 mt-3 mb-3">Carrera: Tecnicatura Universitaria en Seguridad Pública y Ciudadana con orientación en Gestión de las Comunicaciones</p>
        <p class="title3 mb-3">Título: Técnico Universitario en Seguridad Pública y Ciudadana con orientación con orientación en Gestión de las Comunicaciones</p>
        <p class="mb-3">Duración: 3 años</p>
        <p class="mb-3">Resolución Ministerial: RESOL-2017-1166-APN-ME</p>
        <p class="title4 mb-5"><a href="../../../../assets/pdfs/escusub/TECNICATURAS_escusub_GESTION_COM.pdf">Plan de estudios</a></p>
        <hr class="mb-5">
    </div>
    <div>
        <p class="title2 mt-3 mb-3">Carrera: Tecnicatura Universitaria en Seguridad Pública y Ciudadana con orientación en Investigación Criminal</p>
        <p class="title3 mb-3">Título: Tecnicó Universitario en Seguridad Pública y Ciudadana con orientación en Investigación Criminal</p>
        <p class="mb-3">Duración: 3 años</p>
        <p class="mb-3">Resolución Ministerial: RESOL-2017-102-APN-ME</p>
        <p class="title4 mb-5"><a href="../../../../assets/pdfs/escusub/TECNICATURAS_escusub_INVESTIG_CRIM.pdf">Plan de estudios</a></p>
        <hr class="mb-5">
    </div>
    <div>
        <p class="title2 mt-3 mb-3">Carrera: Tecnicatura Universitaria en Seguridad Pública y Ciudadana con orientación en Seguridad Vial</p>
        <p class="title3 mb-3">Título: Técnico Universitario en Seguridad Pública y Ciudadana con orientación con orientación en Seguridad Vial</p>
        <p class="mb-3">Duración: 3 años</p>
        <p class="mb-3">Resolución Ministerial: RESOL-2017-3345-APN-ME</p>
        <p class="title4 mb-5"><a href="../../../../assets/pdfs/escusub/TECNICATURAS_escusub_SEG_VIAL.pdf">Plan de estudios</a></p>        
    </div>
    <br>
    <br>
    <br>
    
</div>
<div></div>
