
<div class="m-3">
    <p class="title mb-3">Grado</p>
    <hr>
    <div class="containerDescripton">
        <div>
            <p class="title2 mt-3 mb-3">Carrera: Licenciatura en Seguridad Pública</p>
            <p class="title2 mt-3 mb-3">Título: Licenciado/a  en Seguridad Pública</p>
            <p class="title3 mb-3">Título intermedio: Técnico/a Universitario/a en Seguridad Pública</p>
            <p class="mb-3">Duración: 4 años</p>
            <p class="mb-3">Resolución Ministerial: RESOL-2019-4177-APN-MECCYT RES. ME 1206/12</p>
            <a class="title4" href="../../../../assets/pdfs/escugen/ESCUGEN_seguridad_publica_2018.pdf">Plan de estudios</a>

        </div>
        <hr class="my-3">
        <div>
            <p class="title2 mt-3 mb-3">Carrera: Licenciatura en Administración Pública</p>
            <p class="title2 mt-3 mb-3">Título: Licenciado/a  en Administración Pública</p>
            <p class="title3 mb-3">Título intermedio: Analista Universitario/a en Administración Pública</p>
            <p class="mb-3">Duración: 4 años</p>
            <p class="mb-3">Resolución Ministerial: RESOL-2020-566-APN-ME RES. ME 1323/12</p>
            <a class="title4" href="../../../../assets/pdfs/escugen/ESCUGEN_administracion_publica_2020-566.pdf">Plan de estudios</a>
        </div>
        <hr class="my-3">
        <div>
            <p class="title2 mt-3 mb-3">Carrera: Licenciatura en Criminalística</p>
            <p class="title2 mt-3 mb-3">Título: Licenciado/a en Criminalística</p>
            <p class="title3 mb-3">Título intermedio: Técnico/a Universitario/a en Criminalística</p>
            <p class="mb-3">Duración: 4 años</p>
            <p class="mb-3">Resolución Ministerial: RESOL-2019-4025-APN-MECCYT RES. RES. ME 1218/12</p>
            <a class="title4" href="../../../../assets/pdfs/escugen/ESCUGEN_criminalistica_2019-4025.pdf">Plan de estudios</a>
        </div>
        <hr class="my-3">
        <div>
            <p class="title2 mt-3 mb-3">Carrera: Licenciatura en Gestión y Seguridad de las Tecnologías de la Información </p>
            <p class="title2 mt-3 mb-3">Título: Licenciado/a en Gestión y Seguridad de las Tecnologías de la Información</p>
            <p class="title3 mb-3">Título intermedio: Técnico/a Universitario/a en Gestión y Seguridad de las Tecnologías de la Información</p>
            <p class="mb-3">Duración: 4 años</p>
            <p class="mb-3">Resolución Ministerial: RESOL-2017-164-APN-ME RES. RES. ME 2073/13</p>
            <a class="title4" href="../../../../assets/pdfs/escugen/ESCUGEN_gestion_y_seguridad_2017-164.pdf">Plan de estudios</a>
        </div>
    </div>
    <br>
    <br>
    <br>

</div>

