<section class="headerContainer">
    <h2 class="tituloPrincipal">REPOSITORIO DOCENTES</h2>
    <div class="avatar">        
            <p-avatar
                label="{{usuario.nombre | slice:0:1}}{{usuario.apellido | slice:0:1}}"
                styleClass="p-mr-2"
                size="large"
                shape="circle"
                pBadge value="4"
                severity="danger"
            ></p-avatar>
            <button class="pi-power-off buttonLogOut"></button>         
    </div>
</section>
