.imgDecorativo {
    width: 15%;
}

.containerContacto {
    width: 100%;
    justify-content: space-between;
    align-items:flex-end;
}
.title {
    width: 60%;
}

.contactoItems {
    color: #0a6164;
    font-weight: 800;
}

.containerEnlaces{
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.itemsEnlaces {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.membrete {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 12vh;
    padding-left: 9% !important;
    background: linear-gradient(45deg, rgba(0,138,145,1) 0%, rgba(0,173,136,1) 52%, rgba(135,206,128,1) 100%);

}

.subtitulo {
    color: white;
    font-size: 2rem;
}

.listCarreras li {
    list-style: decimal;
}

.containerConvocatoria {
    width: 80vw;
    margin: auto;
}

:host ::ng-deep p-breadcrumb ul {
    padding-left: 8.5% !important;
}

.imgHome {
    width: 5%;
    text-align: center;
}

img {
    width: 60%;
}

.hrBiblioteca {
    width: 92%;
    border: 2px solid #04878b;
}

.containerHr {
    display: flex;
    justify-content: flex-end;
}
.containerBodyBiblioteca p {
    color: #007073;
    font-weight: 800;
}

.containerDetailBiblioteca {
    
    display: flex;
    justify-content: flex-end;
  }

  .containerDetailBiblioteca p {
      width: 92%;
      padding-top:3%
  }

  .imgDecorativo {
    width: 15%;
}

.containerContacto {
    width: 100%;
    justify-content: space-between;
    align-items:flex-end;
}

.contactoItems {
    color: #0a6164;
    font-weight: 800;
}

.containerEnlaces{
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.itemsEnlaces {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.containerBiblioteca {
    width: 80vw;
    margin: auto;
}

.containerBodyBiblioteca {
    display: flex;
    align-items: center;
}

.containerImg {
    width: 8%;
}

:host ::ng-deep .p-breadcrumb {
    border: none !important
}

:host ::ng-deep p-breadcrumb ul {
    padding-left: 8% !important;
}

.hrEscusuper {
    width: 83%;
    margin: auto;
    padding-left: 8% !important;
}

img {
    width: 60%;
}

.hrBiblioteca {
    width: 92%;
    border: 2px solid #04878b;
}

.containerHr {
    display: flex;
    justify-content: flex-end;
}
.containerBodyBiblioteca p {
    color: #007073;
    font-weight: 800;
}

.containerDetailBiblioteca {
    
    display: flex;
    justify-content: flex-end;
  }

  .containerDetailBiblioteca p {
      width: 92%;
      padding-top:3%
  }

  .ofertaEscusuper {
      display: flex;
      justify-content: flex-end;
      width: 92%;
      padding-top:3%
  }

  .containerOferta {
      width: 91%;
  }

  .ofertaEscusuper ul {
      width: 90%;
  }

  

  ul li {
      list-style: none;
      font-size: 1.3rem;
      font-weight: 800;
      color: #007073;
      cursor: pointer;
  }

  i {
      color: rgba(135,206,128,1);
      font-size: 1.8rem;
  }

  .iconOferta {
      width: 80%;
  }

  .text-base {
      cursor: pointer;
  }

  .hrDivider {
      border: 2px solid rgba(135,206,128,1);
  }





