<app-header></app-header>
<section class="sliderHome">
    <img class="imageSlider" src="../../../../assets/img/portadaHome/portadaIugna2022.png" alt="">

</section>
<section>
    <app-menuoferta class="menuOfertaResponsive"></app-menuoferta>
</section>
<section class="carreras">
    <div class="wrap">
        <ul class="tabs row">

                <li class="tecnicaturas col-lg">
                    <div >
                        <a class="container-tecnicaturas" (click)="ejecutarTab(1)">PREGRADO</a>
                    </div>
                </li>
                <li class="tecnicaturas col-lg">
                    <div>
                        <a class="container-licenciaturas" (click)="ejecutarTab(2)">GRADO</a>
                    </div>
                </li>
                <li class="tecnicaturas col-lg">
                    <div >
                        <a class="container-ciclos" (click)="ejecutarTab(3)">CURSOS DE POSGRADO</a>
                    </div>
                </li>
                <li class="tecnicaturas col-lg">
                    <div >
                        <a  class="container-extension" (click)="ejecutarTab(4)">CURSOS DE EXTENSIÓN</a>
                    </div>
                </li>

        </ul>

        <div class="secciones">
            <div *ngIf="isTab1Active">
                <article id="tab1">
                    <div class="cursos col-lg alinear-texto" id="cursos">
                        <a routerLink="/caligrafo">Calígrafo Público Nacional</a>
                        <hr>
                        <br>
                        <h2 class="text-base">Tecnicaturas Universitarias:</h2>
                        <br>
                        <a routerLink="/uuaa/escusub/oferta/tecnicaturas">Seguridad Pública y Ciudadana</a>
                        <hr>
                        <a routerLink="/uuaa/escusub/oferta/tecnicaturas">Admistración Pública</a>
                        <hr>
                        <a routerLink="/uuaa/escusub/oferta/tecnicaturas">Criminalistica</a>
                        <hr>
                        <a routerLink="/uuaa/escusub/oferta/tecnicaturas">Gestión de las Comunicaciones</a>
                        <hr>
                        <a routerLink="/uuaa/escusub/oferta/tecnicaturas" >Investigación Criminal</a>
                        <hr>
                        <a routerLink="/uuaa/escusub/oferta/tecnicaturas">Seguridad Vial</a>
                        <hr>
                    </div>
                </article>
            </div>
            <div *ngIf="isTab2Active">
                <article id="tab2">
                    <div class="cursos col-lg" id="cursos">
                        <a >Administración Pública</a>
                        <hr>
                        <a >Seguridad Pública</a>
                        <hr>
                        <a >Criminalistica</a>
                        <hr>
                        <a>Gestión y Seguridad de las Tecnologías de la Información</a>
                        <br>
                        <br>
                        <a routerLink="ciclos/administracion">Administración Pública (CCC)</a>
                        <hr>
                        <a routerLink="ciclos/seguridad">Seguridad Pública (CCC)</a>
                        <hr>
                        <a routerLink="ciclos/criminalistica">Criminalística (CCC)</a>
                        <hr>
                        <a routerLink="ciclos/investigacion">Investigación Judicial (CCC)</a>
                        <hr>
                        <a routerLink="/profesorado">Profesorado Universitario</a>
                    </div>
                </article>
            </div>
            <div *ngIf="isTab3Active">
                <article id="tab3">
                    <div class="cursos col-lg" id="cursos">
                        <a routerLink="uuaa/escusuper/frontera">Diplomatura Universitaria en Seguridad y Desarrollo de fronteras (a distancia)</a>
                        <hr>
                        <a href="">Diplomatura en Gestión Integral de Riesgo de Desastre</a>
                        <hr>
                        <a href="">Diplomatura en Inteligencia Criminal y Crimen Organizado</a>
                        <hr>


                    </div>
                </article>
            </div>
            <div *ngIf="isTab4Active">
                <article id="tab4">
                    <div class="cursos col-lg" id="cursos">
                        <a routerLink="uuaa/escusuper/extension"> Francés - Nivel I</a>
                        <hr>
                        <a routerLink="uuaa/escusuper/extension">Inglés - Nivel I</a>
                        <hr>
                        <a routerLink="uuaa/escusuper/extension">  Francés - Nivel II</a>
                        <hr>
                        <a routerLink="uuaa/escusuper/extension">Inglés - Nivel II</a>
                        <hr>
                        <a routerLink="uuaa/escusuper/extension">Liderar para el cambio</a>
                        <hr>
                        <a routerLink="uuaa/escusuper/extension">Introducción a la Mediación y la Negociación</a>
                        <hr>
                    </div>
                </article>
            </div>
            <div *ngIf="isTab5Active">
                <article id="tab5">
                    <div class="cursos col-lg" id="cursos">
                        <a href="">Diplomatura en Gestión Integral de Riesgo de Desastre</a>
                        <hr>
                        <a href="">Diplomatura en Inteligencia Criminal y Crimen Organizado</a>
                        <hr>

                    </div>
                </article>
            </div>
        </div>
        </div>
</section>
<!-- <section class="containerNovedadDestacada">
    <div class="imgNovedadDestacada">
        <img src="../../../../assets/img/iconos/info.png" alt="">
    </div>
    <div class="descripcionNovedadDestacada">
        <div>
            <p class="sm:text.base tituloNovedadDestacada">El <b class="text-base">ESCUGEN</b> informa que se encuentra abierta la <b class="text-base">Convocatoria de Selección a
              Docentes Interinos:</b></p>
            <br>
            <p>Para <b>Docentes Investigadores Formados en Seguridad y Fronteras,</b>en la <span class="text-blue-400 text-base">Unidad
              Académica Escuela Superior de Gendarmería, </span>con asiento en Avenida Paseo Colón
              Nro. 533 – (CABA), se extiende el plazo de inscripción del 14 al 24 de abril de 2023,<a routerLink="/novedadconvocatoria" class="text-blue-400 cursor-pointer underline">más información.</a></p>
        </div>
    </div>
</section> -->
<!-- <section class="sliderNovedades">
    <h2 routerLink="/novedades">Novedades</h2>
    <hr>
    <br>
    <br>
    <div class="cardContainer">
        <div class="grid grid-cols-4 grid-rows-4 gap-2 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-6 cardContainer " >
            <p-card [routerLink]="['/novedad/', novedad.id]" class="cursor-pointer" *ngFor="let novedad of novedades | slice: 0:4" styleClass="p-card-shadow mb-5" [routerLink]="">
                <ng-template pTemplate="header">
                    <img alt="Card" src="{{url}}/{{novedad.direccionminiatura}}">
                </ng-template>
                <p class="title mb-2">{{novedad.title}}</p>
                <p class="date mb-2 text-base lg:text-sm"><i class="pi pi-calendar mr-1"></i> {{novedad.date}}</p>
                <p class="mb-2 text-base lg:text-sm"><i class="pi pi-map mr-1"></i> {{novedad.location}}</p>
                <p class="description text-base text-green-600" [innerHTML]="novedad.descripcion | slice: 0:100"></p>
            </p-card>
        </div>
    </div>

</section> -->
<section class="unidadesAcademicas">
    <h2>Unidades Académicas</h2>
    <br>
    <div class="iconsUnidadesAcademicas">
        <div class="escuelas1">
            <img routerLink="./uuaa/escusub" src="../../../../assets/img/icon escuelas/01.png" alt="Escuela de Suboficiales Raul Remberto Cuello">
            <img routerLink="./uuaa/insbarreal" src="../../../../assets/img/icon escuelas/02.png" alt="Escuela de formacion de Gendarmes">
            <img routerLink="./uuaa/escugen" src="../../../../assets/img/icon escuelas/03.png" alt="Ecuela de Oficiales Martin Miguel de Güemes">
        </div>
        <div class="escuelas2">
            <img routerLink="./uuaa/escusuper" src="../../../../assets/img/icon escuelas/04.png" alt="Escuela Superior Maria Calderon">
            <img routerLink="./uuaa/inscaes" src="../../../../assets/img/icon escuelas/05.png" alt="Escuela de Capacitacion Especializada Cabo Juan Adolfo Romero">
        </div>
    </div>
</section>
<br>
<br>
<br>
<section class="enlaces">
    <div class="sistemasExternos">
        <a href="https://plataformavirtual.iugna.edu.ar/login/index.php"><img class="imgEnlacesExternos" src="../../../../assets/img/icon escuelas/CV.png" alt=""></a>
        <a (click)="showDialog()"><img class="imgEnlacesExternos" src="../../../../assets/img/icon escuelas/SIU.png" alt=""></a>
    </div>
</section>
<p-dialog header="" [(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '80vw'}">
    <section class="containerSiu">
        <div>
            <img src="" alt="">
            <p></p>
        </div>
        <a href="https://preinscripcion.iugna.edu.ar/escuelas/">
            <div>
            <img class="imgSiu" src="../../../../assets/img/siu/A1.png" alt="">
            <p class="preinscripcion">Preinscripción</p>
        </div></a>
        <a href="https://siu.iugna.edu.ar/autogestion/">
            <div>
                <img class="imgSiu" src="../../../../assets/img/siu/A2.png" alt="">
                <p class="autogestion">Autogestión</p>
            </div>
        </a>

        <a href="https://siu.iugna.edu.ar/guarani/">
            <div>
                <img class="imgSiu" src="../../../../assets/img/siu/A3.png" alt="">
                <p class="administracion">Administración</p>
            </div>
        </a>


    </section>
</p-dialog>
<br>
<br>
<app-footer></app-footer>
