<app-header></app-header>

<img class="bannerStatic" src="../../../../assets/img/newbanner.png" alt="Banner de la página principal">
<!-- splide -->
<!-- <splide [options]="{ type: 'loop', autoplay:'true', interval:'7000'}">
  <splide-slide>
    <img routerLink="/novedad/extension" class="object-cover w-full cursor-pointer h-auto" src="../../../../assets/img/slider/extension25.png" alt="" />
  </splide-slide>
  <splide-slide>
    <img routerLink="/novedad/extension" class="object-cover w-full cursor-pointer h-auto" src="../../../../assets/img/slider/extension25.png" alt="" />
  </splide-slide>
</splide> -->
<section>
    <app-menuoferta class="menuOfertaResponsive"></app-menuoferta>
</section>
<section class="carreras">
    <div class="wrap">
        <ul class="tabs row">

                <li class="tecnicaturas col-lg">
                    <div >
                        <a class="container-tecnicaturas font-extrabold text-xl">PREGRADO</a>
                    </div>
                </li>
                <li class="tecnicaturas col-lg">
                    <div>
                        <a class="container-licenciaturas font-extrabold text-xl">GRADO</a>
                    </div>
                </li>
                <li class="tecnicaturas col-lg">
                    <div >
                        <a class="container-ciclos font-extrabold text-xl">CURSOS DE POSGRADO</a>
                    </div>
                </li>
                <li class="tecnicaturas col-lg">
                    <div >
                        <a  class="container-extension font-extrabold text-xl">CURSOS DE EXTENSIÓN</a>
                    </div>
                </li>
        </ul>
        <div class="secciones">
            <div *ngIf="isTab1Active">
                <article id="tab1">
                    <div class="cursos col-lg alinear-texto" id="cursos">
                        <a routerLink="/caligrafo">Calígrafo Público Nacional</a>
                        <hr>
                        <br>
                        <h2 class="text-base">Tecnicaturas Universitarias:</h2>
                        <br>
                        <a routerLink="/uuaa/escusub/oferta/tecnicaturas">Seguridad Pública y Ciudadana</a>
                        <hr>
                        <a routerLink="/uuaa/escusub/oferta/tecnicaturas">Admistración Pública</a>
                        <hr>
                        <a routerLink="/uuaa/escusub/oferta/tecnicaturas">Criminalistica</a>
                        <hr>
                        <a routerLink="/uuaa/escusub/oferta/tecnicaturas">Gestión de las Comunicaciones</a>
                        <hr>
                        <a routerLink="/uuaa/escusub/oferta/tecnicaturas" >Investigación Criminal</a>
                        <hr>
                        <a routerLink="/uuaa/escusub/oferta/tecnicaturas">Seguridad Vial</a>
                        <hr>
                    </div>
                </article>
            </div>
            <div *ngIf="isTab2Active">
                <article id="tab2">
                    <div class="cursos col-lg" id="cursos">
                        <a >Administración Pública</a>
                        <hr>
                        <a >Seguridad Pública</a>
                        <hr>
                        <a >Criminalistica</a>
                        <hr>
                        <a>Gestión y Seguridad de las Tecnologías de la Información</a>
                        <br>
                        <br>
                        <a routerLink="ciclos/administracion">Administración Pública (CCC)</a>
                        <hr>
                        <a routerLink="ciclos/seguridad">Seguridad Pública (CCC)</a>
                        <hr>
                        <a routerLink="ciclos/criminalistica">Criminalística (CCC)</a>
                        <hr>
                        <a routerLink="ciclos/investigacion">Investigación Judicial (CCC)</a>
                        <hr>
                        <a routerLink="/profesorado">Profesorado Universitario</a>
                    </div>
                </article>
            </div>
            <div *ngIf="isTab3Active">
                <article id="tab3">
                    <div class="cursos col-lg" id="cursos">
                        <a routerLink="uuaa/escusuper/oferta/diplomaturas">Diplomatura Universitaria en Seguridad y Desarrollo de fronteras (a distancia)</a>
                        <hr>
                        <a routerLink="uuaa/escusuper/oferta/diplomaturas" href="">Diplomatura en Gestión Integral de Riesgo de Desastre</a>
                        <hr>
                        <a routerLink="uuaa/escusuper/oferta/diplomaturas" href="">Diplomatura en Inteligencia Criminal y Crimen Organizado</a>
                        <hr>


                    </div>
                </article>
            </div>
            <div *ngIf="isTab4Active">
                <article id="tab4">
                    <div class="cursos col-lg" id="cursos">
                        <a routerLink="uuaa/escusuper/extension"> Francés - Nivel I</a>
                        <hr>
                        <a routerLink="uuaa/escusuper/extension">Inglés - Nivel I</a>
                        <hr>
                        <a routerLink="uuaa/escusuper/extension">  Francés - Nivel II</a>
                        <hr>
                        <a routerLink="uuaa/escusuper/extension">Inglés - Nivel II</a>
                        <hr>
                        <a routerLink="uuaa/escusuper/extension">Liderar para el cambio</a>
                        <hr>
                        <a routerLink="uuaa/escusuper/extension">Introducción a la Mediación y la Negociación</a>
                        <hr>
                    </div>
                </article>
            </div>
            <div *ngIf="isTab5Active">
                <article id="tab5">
                    <div class="cursos col-lg" id="cursos">
                        <a href="">Diplomatura en Gestión Integral de Riesgo de Desastre</a>
                        <hr>
                        <a href="">Diplomatura en Inteligencia Criminal y Crimen Organizado</a>
                        <hr>

                    </div>
                </article>
            </div>
        </div>
        </div>
</section>

<!-- <section class="containerNovedadDestacada2">
  <div class="imgNovedadDestacada">
      <img src="../../../../assets/img/iconos/librito.png" alt="">
  </div>
  <div class="descripcionNovedadDestacada">
      <div>
          <p class="text-teal-600 font-bold">IUGNA: Unidad Académica Escuela Superior</p>
          <p class="font-bold mb-2">Inscripciones abiertas para los Cursos de Extensión Universitaria: Inglés Nivel I,
            Inglés Nivel III, Francés Nivel I, Introducción a la Gestión Organizacional y
            Prevención del Delito, desde el 04 de febrero al 14 de marzo 2025, para más
            información <span routerLink="/novedad/extension" class="underline text-blue-400 cursor-pointer md: text-base">Más información</span></p>


      </div>
  </div>
</section> -->






<!-- <section class="containerNovedadDestacada">
    <div class="imgNovedadDestacada">
        <img src="../../../../assets/img/iconos/incono-extension-uuaa.png" alt="">
    </div>
    <div class="descripcionNovedadDestacada">
        <div>
            <p><b>IUGNA: Unidad Académica Escuela Superior</b></p>
            <p><b>Inscripciones abiertas</b> para los <b>Cursos de Extensión Universitaria:</b> Francés;
              Introducción a la Gestión Organizacional;
              Mediación – Negociación; Prevención y Protección de la Violencia
              Intrafamiliar y de Género e Inglés, hasta el 08 de agosto 2023, más
              información</p>
            <p>Más información acceder <a routerLink="/novedad/extension" class="text-blue-400 cursor-pointer underline">aqui</a></p>
        </div>
    </div>
</section> -->
<!-- <section class="sliderNovedades">
    <h2 routerLink="/novedades">Novedades</h2>
    <hr>
    <br>
    <br>
    <div class="cardContainer">
        <div class="grid grid-cols-4 grid-rows-4 gap-2 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-6 cardContainer " >
            <p-card [routerLink]="['/novedad/', novedad.id]" class="cursor-pointer" *ngFor="let novedad of novedades | slice: 0:4" styleClass="p-card-shadow mb-5" [routerLink]="">
                <ng-template pTemplate="header">
                    <img alt="Card" src="{{url}}/{{novedad.direccionminiatura}}">
                </ng-template>
                <p class="title mb-2">{{novedad.title}}</p>
                <p class="date mb-2 text-base lg:text-sm"><i class="pi pi-calendar mr-1"></i> {{novedad.date}}</p>
                <p class="mb-2 text-base lg:text-sm"><i class="pi pi-map mr-1"></i> {{novedad.location}}</p>
                <p class="description text-base text-green-600" [innerHTML]="novedad.descripcion | slice: 0:100"></p>
            </p-card>
        </div>
    </div>

</section> -->
<section class="w-full mt-4 mb-4 md:mt-5 md:mb-5 lg:mt-8 lg:mb-8  flex">
  <a style="width: 33.333%;" class="h-auto "  href="https://plataformavirtual.iugna.edu.ar/login/index.php">
    <img src="../../../../assets/img/enlaces/moodle.png" alt="" class="w-full">
  </a>
  <a style="width: 33.333%;" class="h-auto "  href="https://plataformavirtual.iugna.edu.ar/cenedis/">
    <img src="../../../../assets/img/enlaces/cenedis.png" alt="" class="w-full">
  </a>
  <a style="width: 33.333%;" class="h-auto " >
    <img (click)="showDialog()" src="../../../../assets/img/enlaces/siu.png" alt="" class="w-full cursor-pointer">
  </a>
</section>
<p-dialog header="" [(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '80vw'}">
    <section class="containerSiu">
        <div>
            <img src="" alt="">
            <p></p>
        </div>
        <a href="https://preinscripcion.iugna.edu.ar/escuelas/">
            <div>
            <img class="imgSiu" src="../../../../assets/img/siu/A1.png" alt="">
            <p class="preinscripcion">Preinscripción</p>
        </div></a>
        <a href="https://siu.iugna.edu.ar/autogestion/">
            <div>
                <img class="imgSiu" src="../../../../assets/img/siu/A2.png" alt="">
                <p class="autogestion">Autogestión</p>
            </div>
        </a>
        <a href="https://siu.iugna.edu.ar/guarani/">
            <div>
                <img class="imgSiu" src="../../../../assets/img/siu/A3.png" alt="">
                <p class="administracion">Administración</p>
            </div>
        </a>
    </section>
</p-dialog>
<app-footer></app-footer>
