<app-header></app-header>
<section class="sliderHome">
    <img class="imageSlider" src="../../../../assets/img/portadaHome/portadaIugna2022.png" alt="">
    
</section>
<section>
    <app-menuoferta class="menuOfertaResponsive"></app-menuoferta>
</section>
<section class="carreras">
    <div class="wrap">
        <ul class="tabs row">
            
                <li class="tecnicaturas col-lg">
                    <div >
                        <a class="container-tecnicaturas" (click)="ejecutarTab(1)"><br> TECNICATURAS</a>
                    </div>                
                </li>
                <li class="tecnicaturas col-lg">
                    <div>
                        <a class="container-licenciaturas" (click)="ejecutarTab(2)"><br> LICENCIATURAS</a>
                    </div>                
                </li>
                <li class="tecnicaturas col-lg">
                    <div >
                        <a class="container-ciclos" (click)="ejecutarTab(3)">CICLOS DE <br> LICENCIATURA</a>
                    </div>                
                </li>
                <li class="tecnicaturas col-lg">
                    <div >
                        <a  class="container-extension" (click)="ejecutarTab(4)">CURSOS DE <br> EXTENSIÓN</a>
                    </div>                
                </li>
                <li class="tecnicaturas col-lg">
                    <div >
                        <a  class="container-posgrado" (click)="ejecutarTab(5)">CURSOS DE <br> POSGRADO</a>
                    </div>                
                </li>            
            
        </ul>
    
        <div class="secciones">
            <div *ngIf="isTab1Active">
                <article id="tab1">
                    <div class="cursos col-lg alinear-texto" id="cursos">
                        <a href="./assets/pdf/escusub/TECNICATURAS_escusub_SEG_PUB_Y_CIU.pdf">Seguridad Pública y Ciudadana</a>
                        <hr>
                        <a class="subDerivacion" href="#">Seguridad Pública y Ciudadana con orientación en:</a>
                        <hr>
                        <a href="./assets/pdf/escusub/TECNICATURAS_escusub_ADM_PUB.pdf">Administración Pública</a>
                        <hr>
                        <a href="./assets/pdf/escusub/TECNICATURAS_escusub_CRIMINALISTICA.pdf">Criminalistica</a>
                        <hr>
                        <a href="./assets/pdf/escusub/TECNICATURAS_escusub_GESTION_COM.pdf">Gestión de las Comunicaciones</a>
                        <hr>
                        <a href="./assets/pdf/escusub/TECNICATURAS_escusub_INVESTIG_CRIM.pdf">Investigación Criminal</a>
                        <hr>
                        <a href="./assets/pdf/escusub/TECNICATURAS_escusub_SEG_VIAL.pdf">Seguridad Vial</a>
                        <hr>
                    </div>
                </article>
            </div>
            <div *ngIf="isTab2Active">
                <article id="tab2">
                    <div class="cursos col-lg" id="cursos">
                        <a href="./assets/pdf/escugen/ESCUGEN_administracion_publica_2018.pdf">Administración Pública</a>
                        <hr>
                        <a href="./assets/pdf/escugen/ESCUGEN_seguridad_publica_2018.pdf">Seguridad Pública</a>
                        <hr>
                        <a href="./assets/pdf/escugen/ESCUGEN_criminalistica_2018.pdf">Criminalistica</a>
                        <hr>
                        <a href="./assets/pdf/escugen/ESCUGEN_gestion_y_seguridad 2013.pdf">Gestión y Seguridad de las Tecnologías de la Información</a>
                    </div>
                </article>
            </div>
            <div *ngIf="isTab3Active">
                <article id="tab3">
                    <div class="cursos col-lg" id="cursos">
                        <a href="./assets/pdf/escusuper/CICLO_Lic_administración_publica.pdf">Administración Pública</a>
                        <hr>
                        <a href="./assets/pdf/escusuper/CICLO_Lic_seguridad_publica.pdf">Seguridad Pública</a>
                        <hr>
                        <a href="./assets/pdf/escusuper/CICLO_Lic_criminalistica.pdf">Criminalistica</a>
                        <hr>
                        <a href="./assets/pdf/escusuper/CICLO_Profesorado.pdf">Profesorado Universitario</a>
                        <hr>
    
                    </div>
                </article>
            </div>
            <div *ngIf="isTab4Active">
                <article id="tab4">
                    <div class="cursos col-lg" id="cursos">
                        <a href="./assets/pdf/extension/AnlisisDelDelito.pdf">Análisis del delito</a>
                        <hr>
                        <a href="./assets/pdf/extension/InvestigacionDeAccidentesDeTransito.pdf">Investigación de accidentes de tránsito</a>
                        <hr>
                        <a href="./assets/pdf/extension/IdiomaFrancesI.pdf">Francés I</a>
                        <hr>
                        <a href="./assets/pdf/extension/IdiomaInglesI.pdf">Inglés I</a>
                        <hr>
                        <a href="./assets/pdf/extension/HerramientasDeInformatica.pdf">Herramientas básicas de informática</a>
                        <hr>
                        <a href="./assets/pdf/extension/PrevencionDelDelito.pdf">Prevención del delito</a>
                        <hr>
                        <a href="./assets/pdf/extension/IdiomaFrancesII.pdf">Francés II</a>
                        <hr>
                        <a href="./assets/pdf/extension/IdiomaInglesII.pdf">Inglés II</a>
                        <hr>
                        <a href="./assets/pdf/extension/LiderarParaElCambio.pdf">Liderar para el cambio</a>
                        <hr>
                        <a href="./assets/pdf/extension/IdiomaInglesIII.pdf">Inglés III</a>
                        <hr>
                    </div>
                </article>
            </div>
            <div *ngIf="isTab5Active">
                <article id="tab5">
                    <div class="cursos col-lg" id="cursos">
                       
                        <a href="./assets/pdf/diplomaturas2020.pdf">Diplomatura en Fronteras</a>
                        <hr>
                        <a href="./assets/pdf/diplomaturas2020.pdf">Diplomatura en Gestión Integral de Riesgo de Desastre</a>
                        <hr>
                        <a href="./assets/pdf/diplomaturas2020.pdf">Diplomatura en Inteligencia Criminal y Crimen Organizado</a>
                        <hr>
    
                    </div>
                </article>
            </div>
        </div>
        </div>
</section>
<section class="sliderNovedades">
    <h2 routerLink="/novedades">Novedades</h2>
    <hr>
    <br>
    <br>
    <div class="cardContainer">
        <div class="grid grid-cols-4 grid-rows-4 gap-2 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-6 cardContainer " >
            <p-card *ngFor="let novedad of novedades | slice: 0:4" styleClass="p-card-shadow mb-5">
                <ng-template pTemplate="header">
                    <img alt="Card" [src]="novedad.rutaImage">
                </ng-template>
                <p class="title mb-2">{{novedad.title}}</p>
                <p class="date mb-2 text-base lg:text-sm"><i class="pi pi-calendar mr-1"></i> {{novedad.date}}</p>
                <p class="mb-2 text-base lg:text-sm"><i class="pi pi-map mr-1"></i> {{novedad.location}}</p>
                <p class="description text-sky-400">{{novedad.description | slice: 0:30}} ...</p>
                
            </p-card>    
        </div>
    </div>

</section>
<section class="unidadesAcademicas">
    <h2>Unidades Académicas</h2>
    <br>
    <br>
    <div class="iconsUnidadesAcademicas">
        <img routerLink="./uuaa/escusub" src="../../../../assets/img/icon escuelas/01.png" alt="Escuela de Suboficiales Raul Remberto Cuello">
        <img routerLink="./uuaa/insbarreal" src="../../../../assets/img/icon escuelas/02.png" alt="Escuela de formacion de Gendarmes">
        <img routerLink="./uuaa/escugen" src="../../../../assets/img/icon escuelas/03.png" alt="Ecuela de Oficiales Martin Miguel de Güemes">
        <img routerLink="./uuaa/escusuper" src="../../../../assets/img/icon escuelas/04.png" alt="Escuela Superior Maria Calderon">
        <img routerLink="./uuaa/inscaes" src="../../../../assets/img/icon escuelas/05.png" alt="Escuela de Capacitacion Especializada Cabo Juan Adolfo Romero">
    </div>
</section>

<section class="enlaces">
    <div class="sistemasExternos">
        <a href="https://plataformavirtual.iugna.edu.ar/login/index.php"><img class="imgEnlacesExternos" src="../../../../assets/img/icon escuelas/CV.png" alt=""></a>
        <a href="https://siu.iugna.edu.ar/autogestion/"><img class="imgEnlacesExternos" src="../../../../assets/img/icon escuelas/SIU.png" alt=""></a>
    </div>
</section>
<br>
<br>
<app-footer></app-footer>