<app-header></app-header>
<p-breadcrumb  [model]="items"></p-breadcrumb>
<div class="membrete">
    <h2 class="subtitulo text-base md:text-2xl sm:text-xs lg:2xl">IUGNA: Unidad Académica Escuela Superior</h2>
    </div>

<div class="containerConvocatoria pt-5 pb-5 md: max-w-[80%] sm: max-w-[80%] ">
    <p class="text-teal-600 text-xl font-bold">Inscripciones abiertas 2026 para los
      Ciclos de Licenciaturas, Calígrafo Público y Profesorado Universitario
      </p>
    <br>
      <p class="pl-5">La <b>Unidad Académica Escuela Superior  del Instituto Universitario de
        Gendarmería Nacional</b>, informa que se encuentran <b>abiertas las inscripciones 2026</b>
      para las carreras de <b>Ciclos de Complementación Curricular de las Licenciaturas,
        Calígrafo Público Nacional y Profesorado Universitario</b>, las que se detallan a
      continuación:</p>
    <br>
    <div class="mb-5">
      <div class="flex">

        <p class="font-bold text-lg text-teal-600">Modalidad Presencial (con instancias de cursada virtual y sincrónica)</p>
      </div>
      <ul class="pl-6 list-disc">
        <li><b>Ciclo de Complementación Curricular Licenciatura en Investigación Judicial.</b> <br> Formulario de preinscripción: <a href="https://forms.gle/QoVZ1EchCEqytQS4A" class="text-blue-500 font-bold underline">https://forms.gle/QoVZ1EchCEqytQS4A</a>.</li>
        <li><b>Ciclo de Complementación Curricular Licenciatura en Administración Pública.</b> <br> Formulario de preinscripción: <a href="https://forms.gle/AgugWodxyJH3VZYD6" class="text-blue-500 font-bold underline">https://forms.gle/AgugWodxyJH3VZYD6</a>.</li>
        <li><b>Ciclo de Complementación Curricular Licenciatura en Criminalística.</b> <br> Formulario de preinscripción: <a href="https://forms.gle/SvuASnjRERTo118m7" class="text-blue-500 font-bold underline">https://forms.gle/SvuASnjRERTo118m7</a>.</li>
      </ul>
      <div class="flex ml-5 mt-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#20ac9a" d="m9.55 18l-5.7-5.7l1.425-1.425L9.55 15.15l9.175-9.175L20.15 7.4z"/></svg>
        <p class="">Para realizar consultas al siguiente correo electrónico: <br> <b class="text-blue-500 font-bold underline">ciclospreinscripciones&#64;iugna.edu.ar</b></p>
      </div>
      <div class="flex ml-5 mt-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#20ac9a" d="m9.55 18l-5.7-5.7l1.425-1.425L9.55 15.15l9.175-9.175L20.15 7.4z"/></svg>
        <p class="font-bold">Destinatarios: Profesionales con título Técnico Superior o Universitario (afín a
          las áreas del Ciclo).-</p>
      </div>
    </div>
    <div class="mb-5">
      <div class="flex">

        <p class="font-bold text-lg text-teal-600">Modalidad a Distancia</p>
      </div>
      <ul class="pl-6 list-disc">
        <li><b>Ciclo de Complementación Curricular Licenciatura en Seguridad Pública.</b> <br> Formulario de preinscripción: <a href="https://forms.gle/SQniy3vSCjokyHPv9" class="text-blue-500 font-bold underline">https://forms.gle/SQniy3vSCjokyHPv9</a>.</li>

      </ul>
      <div class="flex ml-5 mt-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#20ac9a" d="m9.55 18l-5.7-5.7l1.425-1.425L9.55 15.15l9.175-9.175L20.15 7.4z"/></svg>
        <p class="">Para realizar consultas al siguiente correo electrónico: <br> <b class="text-blue-500 font-bold underline">distanciapreinscripciones.calderon&#64;iugna.edu.ar</b></p>
      </div>
      <div class="flex ml-5 mt-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#20ac9a" d="m9.55 18l-5.7-5.7l1.425-1.425L9.55 15.15l9.175-9.175L20.15 7.4z"/></svg>
        <p class="font-bold">Destinatarios: Profesionales con título Técnico Superior o Universitario (afín al
          área de Seguridad Pública).</p>
      </div>
      <ul class="pl-6 list-disc mt-5">
        <li><b>Ciclo de Complementación Curricular Licenciatura en Gestión y Seguridad de
          las Tecnologías de la Información.</b> <br> Formulario de preinscripción: <a href="https://forms.gle/M9aFTPSY37dPtyVR6" class="text-blue-500 font-bold underline">https://forms.gle/M9aFTPSY37dPtyVR6</a>.</li>

      </ul>
      <div class="flex ml-5 mt-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#20ac9a" d="m9.55 18l-5.7-5.7l1.425-1.425L9.55 15.15l9.175-9.175L20.15 7.4z"/></svg>
        <p class="">Para realizar consultas al siguiente correo electrónico: <br> <b class="text-blue-500 font-bold underline">cccsgti.calderon&#64;iugna.edu.ar</b></p>
      </div>
      <div class="flex ml-5 mt-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#20ac9a" d="m9.55 18l-5.7-5.7l1.425-1.425L9.55 15.15l9.175-9.175L20.15 7.4z"/></svg>
        <p class="font-bold">Destinatarios: Profesionales con título Técnico Superior o Universitario (afín al
          área de las telecomunicaciones).</p>
      </div>
    </div>
    <div class="mb-5">
      <div class="flex">

        <p class="font-bold text-lg text-teal-600">Modalidad Presencial (con instancias de cursada sincrónicas)</p>
      </div>
      <ul class="pl-6 list-disc">
        <li><b>Carrera de Pregrado: Calígrafo Público Nacional</b> <br> Formulario de preinscripción: <a href="https://forms.gle/WM62pvqhuNdhdj4K8" class="text-blue-500 font-bold underline">https://forms.gle/WM62pvqhuNdhdj4K8</a>.</li>

      </ul>
      <div class="flex ml-5 mt-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#20ac9a" d="m9.55 18l-5.7-5.7l1.425-1.425L9.55 15.15l9.175-9.175L20.15 7.4z"/></svg>
        <p class="">Para realizar consultas al siguiente correo electrónico: <br> <b class="text-blue-500 font-bold underline">ciclospreinscripciones&#64;iugna.edu.ar</b></p>
      </div>
      <div class="flex ml-5 mt-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#20ac9a" d="m9.55 18l-5.7-5.7l1.425-1.425L9.55 15.15l9.175-9.175L20.15 7.4z"/></svg>
        <p class="font-bold">Destinatarios: Título secundario o constancia de título en trámite del mismo,
          reconocido por el Ministerio de Educación de la Nación con los
          correspondientes sellos de legalización.</p>
      </div>

    </div>
    <div class="mb-5">
      <div class="flex">

        <p class="font-bold text-lg text-teal-600">Modalidad Presencial</p>
      </div>
      <ul class="pl-6 list-disc">
        <li><b>Ciclo del Profesorado Universitario</b> <br> Formulario de preinscripción: <a href="https://forms.gle/6nBGVhkZ38AUbP7r6" class="text-blue-500 font-bold underline">https://forms.gle/6nBGVhkZ38AUbP7r6</a>.</li>

      </ul>
      <div class="flex ml-5 mt-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#20ac9a" d="m9.55 18l-5.7-5.7l1.425-1.425L9.55 15.15l9.175-9.175L20.15 7.4z"/></svg>
        <p class="">Para realizar consultas al siguiente correo electrónico: <br> <b class="text-blue-500 font-bold underline">ciclospreinscripciones&#64;iugna.edu.ar</b></p>
      </div>
      <div class="flex ml-5 mt-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#20ac9a" d="m9.55 18l-5.7-5.7l1.425-1.425L9.55 15.15l9.175-9.175L20.15 7.4z"/></svg>
        <p class="font-bold">Destinatarios: Profesionales que posean Título de grado o de nivel Superior
          No Universitario.</p>
      </div>

    </div>
    <p class="font-bold">Documentación para la preinscripción:</p>
    <br>
    <p>En el enlace de cada carrera encontrará la documentación solicitada y el formato que
      deberá adjuntar en el mismo.</p>
      <br>
    <p class="font-bold">*La oferta educativa es gratuita.</p>
    <p class="font-bold">Período de pre-inscripción: 04 al 19 de diciembre 2025.-
</div>



<app-footer></app-footer>

