.membrete {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 12vh;
  padding-left: 1%;
  background: linear-gradient(45deg, rgb(1, 90, 90) 0%, rgb(2, 100, 89) 52%, rgb(3, 153, 166) 100%);

}

.subtitulo {
  color: white;
  padding-left: 8.5% !important
}

.containerConvocatoria {
  width: 80vw;
  margin: auto;
}

.buttonConvocatoria {
  width: 100%;
  display: flex;
  justify-content: center;
}

:host ::ng-deep p-breadcrumb ul {
  padding-left: 8.5% !important;
}

.containerNovedad {
  display: flex;
  align-items: center;
}

.imageEmail {
  width: 0.5 rem !important;
}
