<app-header></app-header>
<p-breadcrumb  [model]="items"></p-breadcrumb>
<div class="membrete">
    <h2 class="subtitulo text-base md:text-lg sm:text-xs lg:text-base">IUGNA: Unidad Académica Escuela Superior</h2>
    </div>

<div class="containerConvocatoria pt-5 pb-5 md: max-w-[80%] sm: max-w-[80%] ">
    <p class="text-orange-600 text-xl font-bold">Inscripciones abiertas 2023 para el Ciclo de
      Licenciatura en Seguridad Pública a Distancia</p>
    <br>
    <p>La Unidad Académica Escuela Superior del Instituto Universitario de Gendarmería
      Nacional informa que se encuentra abierta la inscripción para la Licenciatura en
      Seguridad Pública, Ciclo de Complementación Curricular, a dictarse bajo la modalidad a
      distancia, aprobada por <a href="../../../../assets/pdfs/escusuper/RM-868-23-seguridad-publica.pdf">RESOL-2023-868-APN-ME</a> , del 07 al 11 de julio de 2023.
    </p>
    <br>
    <b>Requisitos de admisión:</b>
    <br>
    <br>
    <ul class="list-none flex">
      <li class="pl-5">a.</li>
      <li class="pl-2">Título Técnico Superior y /o Universitario afín al área de la seguridad pública
        otorgado por una institución oficial, con plan de estudios de tres (3) años de
        duración y una carga horaria no menor a mil seiscientas (1600) horas reloj,
        reconocido por el organismo ministerial correspondiente.
      </li>
    </ul>
    <br>
    <ul class="list-none flex">
      <li class="pl-5">b.</li>
      <li class="pl-2">Personal de Gendarmería Nacional en actividad: encontrarse prestando servicios
        fuera del Área Metropolitana Buenos Aires (AMBA). Descripta en el siguiente link
        <a href="https://www.argentina.gob.ar/dami/centro/amba">https://www.argentina.gob.ar/dami/centro/amba</a>.
      </li>
    </ul>
    <br>
    <ul class="list-none flex">
      <li class="pl-5">c.</li>
      <li class="pl-2">Personal retirado de Gendarmería Nacional, otras fuerzas de seguridad y
        policiales y civiles: encontrarse residiendo fuera del Área Metropolitana Buenos
        Aires (AMBA)..
      </li>
    </ul>
    <br>
    <ul class="list-none flex">
      <li class="pl-4"></li>
      <li class="pl-5">Los requisitos mencionados en los dos puntos anteriores (b. y c.) son en razón
        que para los residentes dentro del AMBA se encuentra la oferta de la misma
        carrera de manera presencial.
      </li>
    </ul>
    <br>
    <ul class="list-none flex">
      <li class="pl-5">d.</li>
      <li class="pl-2">No se considerará personal con título en trámite.
      </li>
    </ul>
    <br>
    <ul class="list-none flex">
      <li class="pl-5">e.</li>
      <li class="pl-2">Para las preinscripciones se tendrá en cuenta el orden temporal (fecha y hora de
        emisión del correo electrónico), en el cual se solicitó la inscripción (vía correo
        electrónico), como así también, contar con toda la documentación requerida, sin
        observaciones.
      </li>
    </ul>
    <br>
    <ul class="list-none flex">
      <li class="pl-5">f.</li>
      <li class="pl-2">Para el caso de los postulantes que tienen el curso de nivelación para el ciclo de
        seguridad presencial, se considerará a aquellos casos que lo hicieron a partir del
        año 2020.
      </li>
    </ul>
    <br>
    <ul class="list-none flex">
      <li class="pl-5">g.</li>
      <li class="pl-2">Sólo se aceptarán las postulaciones enviadas en el periodo de pre-inscripción
        habilitado y comprendido entre el 07 de julio de 2023 (00.00 horas) al 11 de julio
        de 2023 (23.59 horas) sin excepción. Todas aquellas postulaciones que ingresen
        antes o después del periodo consignado, serán invalidadas.
      </li>
    </ul>
    <br>
    <b>Documentación para la pre-inscripción:
    </b>
    <br>
    <br>
    <ul class="list-none flex">
      <li class="pl-5">a.</li>
      <li class="pl-2">Fotocopia de DNI, anverso y reverso.
      </li>
    </ul>
    <br>
    <ul class="list-none flex">
      <li class="pl-5">b.</li>
      <li class="pl-2"><a href="../../../../assets/pdfs/escusuper/EXAMEN_FISICO_DE_INGRESO.PDF">Ficha de examen personal</a>. La misma deberá ser completada y firmada por el/la
        postulante.
      </li>
    </ul>
    <br>
    <ul class="list-none flex">
      <li class="pl-5">c.</li>
      <li class="pl-2">Fotocopia del título y analítico de técnico superior y/o universitario, (si el título de
        la tecnicatura fue expedido antes del 01/01/2010, deberá tener la legalización del
        ministerio del interior).
      </li>
    </ul>
    <br>
    <ul class="list-none flex">
      <li class="pl-5">d.</li>
      <li class="pl-2">Certificado de Residencia/Trabajo:</li>
    </ul>
    <br>
    <ul class="list-none flex">
      <li class="pl-6">1.</li>
      <li class="pl-2">En caso de ser personal de Gendarmería en actividad: constancia de prestación
        de servicios emitida por la jefatura donde presta servicios. </li>
    </ul>
    <br>
    <ul class="list-none flex">
      <li class="pl-6">2.</li>
      <li class="pl-2">En caso de ser personal de Gendarmería en situación de retiro: constancia
        domiciliaria, emitida por la jefatura de Gendarmería más próxima a su
        domicilio. </li>
    </ul>
    <br>
    <ul class="list-none flex">
      <li class="pl-6">3.</li>
      <li class="pl-2">En caso de ser personal civil: constancia domiciliaria emitida por la policía
        provincial más próxima al domicilio.</li>
    </ul>
    <br>
    <p>Toda la información detallada deberá ser enviada al siguiente correo electrónico:
      distanciapreinscripciones.calderon@iugna.edu.ar, en formato “PDF” (si utiliza la
      aplicación de escaneo por foto los archivos deben ser legibles, caso contrario no serán
      considerados válidos).</p>
    <br>
    <p>Los resultados del proceso de postulación, selección y otorgamiento de la vacante,
      serán comunicados oportunamente a las casillas de correo particulares de cada
      alumno.</p>
    <br>
    <p>El inicio de la cursada de la presente oferta académica se encuentra previsto para el 07
      de agosto de 2023.-</p>
  </div>



<app-footer></app-footer>

