<app-header></app-header>
<p-breadcrumb  [model]="items"></p-breadcrumb>
<div class="membrete">
    <h2 class="subtitulo text-base md:text-2xl sm:text-xs lg:2xl">IUGNA: Unidad Académica Escuela Superior</h2>
    </div>

<div class="containerConvocatoria pt-5 pb-5 md: max-w-[80%] sm: max-w-[80%] ">
    <p class="text-sky-700 text-xl font-bold">CONVOCATORIA DE PROFESIONALES PARA CUBRIR CARGOS DE DOCENTES
      INTERINOS
      </p>
    <br>
    <p class="pl-5">La <b>Unidad Académica Escuela Superior de Gendarmería Nacional</b> del
      Instituto Universitario de Gendarmería Nacional, informa que se
      encuentran abiertas las inscripciones para cubrir cargos de <b>Docentes
        Interinos – Ingreso Febrero 2026</b>, correspondientes a las siguientes
      profesiones:</p>
    <br>
    <div class="mb-5">
      <div class="flex">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#0369a1" d="m9.55 18l-5.7-5.7l1.425-1.425L9.55 15.15l9.175-9.175L20.15 7.4z"/></svg>
        <p class="font-bold text-xl text-sky-700">Asesor Técnico - Pedagógico y Diseñador Didáctico
          (3 vacantes)</p>
      </div>
      <ul class="pl-6 list-disc">
        <li><b>Área:</b> Equipo de Gestión a Distancia (Grado y Posgrado) / Coordinación de
          Ciclos de Licenciaturas.</li>
        <li><b>Cargo:</b> Docente Interino – Gestión.</li>
        <li><b>Agrupamiento:</b> Docentes de Apoyo Técnico Educativo.</li>
        <li><b>Categoría:</b> Otros profesionales de apoyo técnico o docente.</li>
        <li><b>Dedicación:</b> Semiexclusiva (20 hs semanales).</li>
      </ul>
    </div>
    <div class="mb-5">
      <div class="flex">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#0369a1" d="m9.55 18l-5.7-5.7l1.425-1.425L9.55 15.15l9.175-9.175L20.15 7.4z"/></svg>
        <p class="font-bold text-xl text-sky-700">Técnico - Diseñador Multimedial
          (1 vacante)</p>
      </div>
      <ul class="pl-6 list-disc">
        <li><b>Área:</b> Equipo de Gestión a Distancia (Grado y Posgrado).</li>
        <li><b>Cargo:</b> Docente Interino – Gestión.</li>
        <li><b>Agrupamiento:</b> Docentes de Apoyo Técnico Educativo.</li>
        <li><b>Categoría:</b>Profesional especialista en sistemas de aprendizaje con
          soporte en TIC (e-learning).</li>
        <li><b>Dedicación:</b> Semiexclusiva (20 hs semanales).</li>
      </ul>
    </div>    
    <a href="../../../../assets/pdfs/escusuper/ESCUSUPER-DOCENTES-INTERINOS-2026.pdf" class="text-blue-500 font-bold underline">Más información aquí</a>

    <div class="border-solid border-2 border-teal-500 p-5 m-5">
      <p class=" font-bold">Documentación de Interés:</p>
      <div class="flex justify-center">        
        <ul class="list-none">
          <li><a href="../../../../assets/pdfs/escusuper/ANEXOII.docx" class="text-blue-500 text-center cursor-pointer 	no-underline">1. ANEXO II - “SOLICITUD DE INSCRIPCIÓN” </a></li>
          <li><a href="../../../../assets/pdfs/escusuper//ANEXOIII.docx" class="text-blue-500 text-center cursor-pointer 	no-underline">2. ANEXO III - “CURRICULUM VITAE” </a></li>
        </ul>
      </div>
    </div>
    <p class="font-bold text-center">PERÍODO DE INSCRIPCIÓN: DEL 06 AL 31 DE OCTUBRE DE 2025.-
</div>



<app-footer></app-footer>

