<app-header></app-header>
<p-breadcrumb class=""  [model]="items"></p-breadcrumb>
<div class="bannerContainer">
    <p class="titleBanner">Diplomatura Universitaria en Seguridad y Desarrollo de Fronteras (a distancia)</p>
</div>
<div class="containerBodyCarrera">
    <br>
    <p class="mb-3">Duración: cuatro (4) bimestres con un total de 152 horas</p>
    <p class="mb-3">Aprobado por Disposición DI-2022-1119-APN-DINALGEN#GNA</p>
    <!-- <a href="../../../../assets/pdfs/escusuper/CICLO_2018_Lic_seguridad_publica.pdf">
        <p class="mb-3 text-base font-bold lg:text-xl text-green-500">Plan de estudios</p>
    </a> -->

    <p class="mb-3">Destinatarios: Profesionales con título de técnico superior, técnico universitario o título de grado relacionado con la Seguridad Pública, miembros de las Fuerzas de Seguridad – provinciales, nacionales o federales - y aquellos que cuenten con experiencia laboral afín a la Seguridad en Fronteras.</p>

    <ul>
        <li><a href="https://preinscripcion.iugna.edu.ar/escuelas/">Ficha de pre inscripción SIU GUARANI</a></li>
        <li>Fotocopia de DNI, frente y dorso</li>
        <li class="mb-3">Fotocopia del título y analítico de Técnico Superior, o constancia de título en trámite (si el título de la tecnicatura fue expedido antes del 01/01/2010 debe tener la legalización del Ministerio del Interior).</li>
        <li class="mb-3">Toda la información debe ser enviada al siguiente mail: posgradoalumos.calderon@iugna.edu.ar aclarando a qué ciclo desea inscribirse y el formato de los archivos deben ser en PDF (si utiliza la aplicación de escaneo por foto los archivos deben ser legibles, caso contrario serán rechazados).</li>
        <li>La información será analizada por autoridades de las carreras según criterios de admisión.</li>
        <li>La confirmación de la inscripción será realizada por personal de la Unidad Académica vía mail.</li>
    </ul>
</div>
<br>
<br>
<br>
<br>
<app-footer></app-footer>
