.membrete {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 12vh;
  padding-left: 1%;
  background: linear-gradient(45deg, #008a91 0%, rgba(0,173,136,1) 52%, rgba(135,206,128,1) 100%);

}

.subtitulo {
  color: white;
  padding-left: 8.5% !important
}

:host ::ng-deep p-breadcrumb ul {
  padding-left: 8.5% !important;
}

.containerBiblioteca {
  margin: 0;
  padding: 0;
}

.bodyBiblioteca {
  width: 82vw;
  margin: auto;
}

ul {
  width: 50%;
  margin-left: 8.5%;
}

figure {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.li1, .li2, .li3, .li4 {
  width: auto;
  padding: 1.5% 5%;
  margin-top: 5%;
  border-radius: 40px;
}

.li1 > a , .li2 > a, .li3 > a, .li4 > a {
  width: auto;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
}

.li1 {
 background-color: #008a91;
}
.li2 {
 background-color: #98CA88;
}
.li3 {
 background-color: #4C8BB9;
}
.li4 {
 background-color: #545454;
}

img {
  width: 25%;
}



.sectionTags {
  margin: auto;
  width: 85%;
}

.icon1 {
  width: 4rem;
}

.icon2 {
width: 2rem;
height: 2rem;
}



h2 {
  margin-left: 2%;
  font-weight: 900;
  color: #007073

}

h3 {

  margin-left: 1%;
}



.divider {
  border-width: none;
  height: 5px;
  width: 74%;
  background-color: #007073;
}



.divideritems {
  border-width: none;
  height: 3px;
  width: 74%;
  background-color: #007073;
}

.containerDividerItems {
  display: flex;
  justify-content: center;
}



.tabAcordeon {
  display: flex;
}

.containerServicios {
  text-align: left;
}

p-accordiontab {
  border: none !important;
  box-shadow: none !important;
  outline: none!important;

}

:host ::ng-deep .p-accordion-header-link {
  display: flex !important;
  justify-content: space-between !important;
  outline: none!important;
  background-color: white !important;
  border: none !important


}
:host ::ng-deep .p-accordion-header-link {

}

:host ::ng-deep .p-accordion-content {
  border: none !important
}

:host ::ng-deep .p-accordion-tab-active {
  outline: none !important;
  border: none !important
}
:host ::ng-deep .ng-tns-c34-0 {
  outline: none !important;
}

.acordeonContainer {
  width: 75% !important;
  align-items: center;
  margin: auto;
}

:host ::ng-deep .p-accordion-toggle-icon {
  order: 0.5 !important;
}
:host ::ng-deep .p-accordion-header-text {
  flex-grow: 1 !important;
  font-size: 1.4rem;
}


.containerItem {
  width: 70vw;
}




ul {
  line-height: 2em;
}

.containerOrganosUnipersonales {
  width: 68vw;
}
.containerOrganosColegiados {
  width: 60vw;
}

.consejo {
  width: 68vw;
}


.containerContactos {
  background-color: #92B4B1;
  padding: 2% 2%;
  margin-top: 2% ;
  margin-bottom: 2%;
}

hr {
  border: 2px solid black;
  margin: 1% 0%
}
p > span {
  font-weight: 600;
}

@media (max-width: 940px) {
  .containerItems {
    display:block;
    padding: 2% 5%;
  }
  ul {
    margin: 0;
    width: 100%;
  }
  li {
    width: 100% !important;
  }
}
@media (min-width: 900px) {
  .containerItems {
    display:block;
    padding: 2% 5%;
  }
  li {
    width: 100%;
  }
  ul {
    margin: 0
  }

}
