<app-header></app-header>
<p-breadcrumb  [model]="items"></p-breadcrumb>
<div class="membrete">
  <h2 class="subtitulo">Sistema de Bibliotecas del Instituto Universitario
    de Gendarmería Nacional</h2>
</div>
<section class="flex w-full">
  <ul>
    <li class="list-none li1"><a href="https://bgn.bibliotecarios.ar/">Catálogo</a></li>
    <li class="list-none li2"><a href="https://repositoriodigital.iugna.edu.ar">Repositorio Digital Institucional</a></li>
    <li class="list-none li3"><a href="www.bidi.la/account/iugna/login">Bidi</a></li>
    <li class="list-none li4"><a href="https://biblioteca.mincyt.gob.ar/">Biblioteca Electrónica de Ciencia y Tecnología</a></li>
  </ul>
  <figure>
    <img  src="../../../../assets/img/img-biblioteca.png" alt="">
  </figure>
</section>
<section class=" sectionTags mt-5">
  <p-accordion class="mb-5" >
    <p-accordionTab class="institutoItems" header="Servicios" [selected]="false" iconPos="right">
      <ul class="containerServicios list-none">
          <li class="text-base lg:text-lg"> - Acceso libre a los estantes</li>
          <li class="text-base lg:text-lg"> - Consulta en Sala de Lectura</li>
          <li class="text-base lg:text-lg"> - Búsqueda y localización de bibliografía</li>
          <li class="text-base lg:text-lg"> - Préstamo a domicilio</li>
          <li class="text-base lg:text-lg"> - Reservas y renovación de préstamos</li>
          <li class="text-base lg:text-lg"> - Formación de usuarios</li>
          <li class="text-base lg:text-lg"> - Internet WIFI</li>
      </ul>
    </p-accordionTab>
  </p-accordion>
  <br>
  <p-accordion class="mt-5">
    <p-accordionTab class="institutoItems" header="Consultas en Linea" [selected]="false" iconPos="right">
      <ul class="containerServicios list-none">
        <li><a class="no-underline text-base lg:text-lg font-semibold text-teal-600" href="http://www.rebifa.mindef.gov.ar/">- Rebifa</a></li>
        <li><a class="no-underline text-base lg:text-lg font-semibold text-teal-600"  href="http://www.bibliotecadigital.gob.ar/">- Biblioteca Digital Ministerio de Justicia</a></li>
        <li><a class="no-underline text-base lg:text-lg font-semibold text-teal-600"  href="https://www.undef.edu.ar/libros/biblioteca-digital/">- Biblioteca Digital de la Defensa</a></li>
        <li><a class="no-underline text-base lg:text-lg font-semibold text-teal-600"  href=""></a> - Cefa Digital</li>
        <li><a class="no-underline text-base lg:text-lg font-semibold text-teal-600"  href="https://repositoriosdigitales.mincyt.gob.ar/vufind/">- Repositorios Digitales</a></li>
        <li><a class="no-underline text-base lg:text-lg font-semibold text-teal-600"  href="https://bdu.siu.edu.ar/index.php">- Catálogo Bibliográfico SIU/BDU</a></li>
        <li><a class="no-underline text-base lg:text-lg font-semibold text-teal-600"  href="https://www.casede.org/index.php/biblioteca-casede-2-0">- Colectivo Seguridad con Democracia</a></li>
        <li><a class="no-underline text-base lg:text-lg font-semibold text-teal-600"  href="https://www.argentina.gob.ar/gendarmeria">- Gendarmería Nacional Argentina</a></li>
        <li><a class="no-underline text-base lg:text-lg font-semibold text-teal-600"  href="https://www.argentina.gob.ar/seguridad">- Ministerio de Seguridad de la Nación</a></li>
        <li><a class="no-underline text-base lg:text-lg font-semibold text-teal-600"  href="https://www.mseg.gba.gov.ar/">- Ministerio de Seguridad Provincia de Buenos Aires</a></li>
        <li><a class="no-underline text-base lg:text-lg font-semibold text-teal-600"  href="https://www.buenosaires.gob.ar/justiciayseguridad">- Ministerio de Seguridad Ciudad de Buenos Aires</a></li>
      </ul>
    </p-accordionTab>
  </p-accordion>
</section>
<div class="containerBiblioteca">
  <div class="bodyBiblioteca">
    <p class="font-bold text-xl  mt-5 mb-1" >Mision</p>
    <p class="text-lg">Brindar a toda la comunidad de Gendarmería Nacional el acceso a distintas fuentes de información, en fondos
      propios o de otras bibliotecas, y los servicios necesarios que fomenten y favorezcan el estudio y la investigación en el
      marco de la Seguridad Pública y la Defensa Nacional.</p>
    <p class="font-bold text-xl  mt-5 mb-1" >Visión</p>
    <p class="text-lg">La biblioteca procura ser un referente en los servicios e información proporcionada a sus usuarios utilizando las
      nuevas tecnologías, en un alto nivel de eficiencia y calidad, para contribuir al desarrollo intelectual y profesional de
      toda la comunidad de Gendarmería Nacional.</p>
      <br>
      <br>
      <p ><a class="text-xl font-bold text-teal-600 underline" href="../../../../assets/pdfs/pdf/REGLAMENTO_BIBLIOTECAS_IUGNA.pdf">Reglamento de Bibliotecas del IUGNA</a></p>
      <br>
      <div class="containerContactos">
        <p class="font-bold text-xl">Contactos</p>
        <hr>
        <p class="mb-5 text-lg"><span>Unidad Académica Escuela Superior (CABA):</span> biblioteca.calderon@iugna.edu.ar</p>
        <p class="mb-5 text-lg"><span>Unidad Académica Escuela de Gendarmería Nacional (Buenos Aires):</span> biblioteca.escugen@gmail.com</p>
        <p class="mb-5 text-lg"><span>Unidad Académica Escuela de Suboficiales (Córdoba):</span> biblioteca.escusub@iugna.edu.ar</p>
        <p class="mb-5 text-lg"><span>Instituto de Capacitación Especializada (Buenos Aires):</span> biblioteca.inscaes@iugna.edu.ar</p>
        <p class="mb-5 text-lg"><span>Instituto de Formación de Gendarmes:</span> Tel. (02648) 441-023</p>
      </div>
  </div>
</div>
<app-footer></app-footer>
