<app-header></app-header>
<p-breadcrumb  [model]="items"></p-breadcrumb>
<!-- <div class="containerImg mt-2 mb-2">
    <img src="../../../../assets/img/novedades/banner/novedadCiclos.png" alt="">
</div> -->
<div class="mb-3">
    <p class="lugar text-xl">IUGNA: Unidad Académica Escuela Superior</p>
</div>
<section class="containerNovedad">
    <p class="title mb-3 text-teal-600">Inscripciones abiertas 2025 para el Profesorado Universitario y Calígrafo Público Nacional</p>
    <br>
    <p>La <span class="font-bold">Unidad Académica Escuela Superior del Instituto Universitario de
      Gendarmería Nacional,</span>,  informa que se encuentran las inscripciones abiertas para el ciclo lectivo 2025 en la modalidad presencial correspondientes a:</p>
    <br>
    <p class="text-teal-600 font-bold">Modalidad Presencial</p>
    <br>
    <ul class="list-none leading-1">
      <li class="font-bold mb-3">- Profesorado Universitario (título de grado o título de nivel superior)</li>
      <li class="font-bold mb-3">- Carrera de Pregrado: Calígrafo Público Nacional (con título secundario completo)</li>
    </ul>
    <br>
    <p class="font-bold">Requisitos de admisión:</p>
    <br>
    <ul>
      <li class="mb-3">Personal de Gendarmería (prestando servicio o residiendo en AMBA)</li>
      <li class="mb-3">Retirados de otras Fuerzas de seguridad y civiles (residiendo en AMBA) </li>
    </ul>
    <p class="font-bold">Documentación para la preinscripción:</p>
    <br>
    <ul>
      <li class="mb-3">Fotocopia de DNI (Anverso y reverso).</li>
      <li class="mb-3">Ficha de examen personal <a href="../../../../assets/pdfs/novedades/EXAMEN FISICO DE INGRESO.pdf">aqui</a></li>
      <li class="mb-3">Fotocopia de título y analítico (Anverso y reverso. Los títulos expedidos antes del
        2010, deberán ser legalizados por el Ministerio del Interior).</li>
    </ul>
    <br>
    <ul>
      <li class="mb-3"><span class="font-bold">Para información correspondiente al Profesorado Universitario y Calígrafo Público Nacional, enviar mail:   </span>
        <span class="text-blue-500 underline">ciclospreinscripciones@iugna.edu.ar </span>
      </li>
    </ul>
    <br>
    <p><span class="underline italic font-semibold">Período de pre-inscripción:</span> 03 al 21 de febrero de 2025.</p>
    <br>
    <p  class="font-bold">*La oferta educativa es gratuita.</p>
    <br>
    <br>
    <p>La sede se encuentra ubicada en Av. Paseo Colón Nº 533, CABA.</p>
    <br>
    <br>
    <br>
    <br>
    <!-- <div class="border-solid border-2 border-teal-500 p-5">
      <p>Documentación de Interés:</p>
      <ul class="list-none">
        <li class="text-center"><a href="../../../../assets/pdfs/novedades/ANEXO_II_-_SOLICITUD_DE_INSCRIPCION.pdf" class="text-teal-500 text-center cursor-pointer 	no-underline">- “SOLICITUD DE INSCRIPCIÓN” - ANEXO II</a></li>
        <li class="text-center"><a class="text-teal-500 text-center cursor-pointer 	no-underline" href="../../../../assets/pdfs/novedades/ANEXO_III_-_CURRICULUM_VITAE.pdf"> - “CURRICULUM VITAE” - ANEXO III</a></li>
      </ul>
    </div> -->
    <br>
    <br>
</section>
<app-footer></app-footer>
