.containerImg {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100% !important;
}

img {
  width: 100vw;
}

.lugar {
  padding: 1% 10% 1% 10%;
  background-color: #69AEA9;
  color: white;
  font-weight: 800;
}

.title {
  font-size: 1.8rem;
  font-weight: 500;
}

.novedad {
  font-size: 1.2rem;
}
.containerNovedad {
  margin: auto;
  width: 80vw;
}

:host ::ng-deep li {
  margin-left: 3% !important;
}

p {
  line-height: 170%;
}

.membrete {
display: flex;
justify-content: left;
align-items: center;
height: 12vh;
padding-left: 1%;
background: linear-gradient(45deg, rgb(255, 145, 77) 0%, rgb(255, 163, 77) 52%, rgb(255, 251, 0) 100%);

}

.subtitulo {
color: white;
padding-left: 8.5% !important
}

.containerConvocatoria {
width: 80vw;
margin: auto;
}

.buttonConvocatoria {
width: 100%;
display: flex;
justify-content: center;
}

:host ::ng-deep p-breadcrumb ul {
padding-left: 8.5% !important;
}
