<div class="m-3">
    <p class="title mb-3">Asignaturas a cursar en el área técnico profesional</p>
    <hr>
    <div>
        <p class="title3 mb-3 mt-3">PRIMER AÑO</p>
        <ul>
            <li>- Entrenamiento Psicofísico Profesional</li>
            <li>- Técnicas de empleo de Armas Portátiles I</li>
            <li>- Instrucción a Caballo I</li>
            <li>- Régimen Orgánico y Funcional de GNA I</li>
            <li>- Régimen Interno de GNA I</li>
            <li>- Técnicas de empleo Operacional de GNA I</li>
            <li>- Régimen Administrativo y Disciplinario de GNA I</li>
            <li>- Ética del Gendarme</li>
        </ul>
    </div>
    <hr class="my-3">
    <div>
        <p class="title3 mb-3 mt-3">SEGUNDO AÑO</p>
        <ul>
            <li>- Entrenamiento Psicofísico Profesional</li>
            <li>- Técnicas de empleo de Armas Portátiles II</li>
            <li>- Instrucción a Caballo II</li>
            <li>- Régimen Orgánico y Funcional de GNA II</li>
            <li>- Régimen Interno de GNA II</li>
            <li>- Técnicas de empleo Operacional de GNA II</li>
            <li>- Régimen Administrativo y Disciplinario de GNA II</li>
        </ul>
    </div>
    <hr class="my-3">
    <div>
        <p class="title3 mb-3 mt-3">TERCER AÑO</p>
        <ul>
            <li>- Entrenamiento Psicofísico Profesional</li>
            <li>- Técnicas de empleo de Armas Portátiles III</li>
            <li>- Instrucción a Caballo III</li>
            <li>- Régimen Orgánico y Funcional de GNA III</li>
            <li>- Régimen Interno de GNA III</li>
            <li>- Técnicas de empleo Operacional de GNA III</li>
            <li>- Régimen Administrativo y Disciplinario de GNA III</li>
        </ul>
    </div>
    
    <br>
    <br>
    <br>
    
</div>