body {
    padding: 0;
    margin: 0;
    background-color: black;
}

.footerContainer {
    height: 30vh;
    background-color: black;
}

h4 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}