<section class="headerContainer">
    <h2 class="tituloPrincipal">ADMINISTRACIÓN</h2>                
    <p-splitButton label="{{usuario.nombre | slice:0:1}}{{usuario.apellido | slice:0:1}}"  styleClass="p-button-info" [model]="items"></p-splitButton>    
</section>
<section class="p-5">
    <p-button>Nueva novedad</p-button>
</section>
<section class="containerForm">
    <form (ngSubmit)="guardar()" action="" method="post" autocomplete="off" [formGroup]="miFormulario">
        <div class="containerSections">
            <div class="sectionForm">
                <label for="">TÍTULO</label>
                <br>      
                <input type="text" formControlName="titulo" placeholder="Ingrese un título...">
                <p *ngIf="isValid('titulo')" class="error">Este campo es requerido!</p>
                <br>
                <br>
                <label for="">LUGAR</label>
                <br>
                <input type="text" formControlName="lugar" placeholder="Ingrese un lugar...">
                <p *ngIf="isValid('lugar')" class="error">Este campo es requerido!</p>
                <br>
                <br>
                <label for="">FECHA</label>
                <br>
                <input type="date" formControlName="fecha">
                <p *ngIf="isValid('fecha')"class="error">Este campo es requerido!</p>
                <br>
                <br>
            </div>
            <div class="sectionForm form2">
                <label class="labelImgMiniatura mb-5" for="imgMiniatura"><i class="pi pi-image" style="font-size: 1rem"></i> Seleccione Imagen Miniatura</label>
                <br>      
                <input (change)="imgMiniatura($event.target)" formControlName="miniatura" id="imgMiniatura" type="file" accept="image/*">
                <br>
                <p *ngIf="isValid('miniatura')"class="error">Debe seleccionr una imagen miniatura!</p>
                <br>
                <br>
                <label  class="labelImgMiniatura2 mt-5" for="imgMiniatura2"><i class="pi pi-image" style="font-size: 1rem"></i> Seleccione Imagen Banner</label>
                <br>      
                <input formControlName="banner" id="imgMiniatura2" type="file" accept="image/*">
                <br>
                <p *ngIf="isValid('banner')"class="error">Debe seleccionar una imagen para el banner!</p>
                <br>
                <br>               
            </div>
        </div>
        
        <p-editor formControlName="novedad" placeholder="Edite el cuerpo de la novedad aquí" [style]="{'height':'320px'}"></p-editor>
        <p *ngIf="isValid('novedad')"class="error">Debe escribir el cuerpo de la novedad!</p>
            <br>
            <br>
        <p-button type="submit" >Aceptar</p-button>
    </form>
    <br>
    <br>
    <br>
</section>
<app-footer></app-footer>