<div class="containerFooter pl-5 pr-5">
    <div class="rectorado">
        <p>RECTORADO</p>
        <hr class="mt-2 mb-2">
        <p class="mb-1">Paseo Colón N° 533 CABA Tel: (011) 5169-3322</p>
        <p>info@iugna.edu.ar</p>
    </div>
    <div class="acceso">
        <p>ACCESO</p>
        <hr class="mt-2 mb-2">
        <a href="https://plataformavirtual.iugna.edu.ar/login/index.php"><p class="mb-1">Campus Virtual</p></a>
        <p routerLink="/uuaa">Oferta Académica</p>
    </div>
    <div class="contactos">
        <p class="text-right md:text-center sm:text-center" (click)="showDialog()">CONTACTO</p>
        <hr class="mt-2 mb-2">
        <div class="text-right w-full md:text-center sm:text-center">
          <p class="text-right md:text-center sm:text-center" (click)="showDialog()">Teléfonos útiles </p>
        </div>

    </div>
    <p-dialog header="Contactos" [(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '70vw'}">
        <hr >
        <div class="containerContacto">
            <ul>
                <li>Escuela de Oficiales (Bs. As): Tel: (011) 4620-2063 Interno 253</li>
                <li>Escuela de Suboficiales (Córdoba): Tel/Fax: (03525)401-964</li>
                <li>Guardia:(03525)401-965</li>
                <li>Escuela de Gendarmes (San Juan): Tel: (02648) 441-023 </li>
            </ul>
            <p-divider layout="vertical"></p-divider>
            <ul>
                <li>Escuela Superior (Bs.As) Tel: (011) 5169-3322</li>
                <ul>
                    <li class="ml-5 depAlumnos">Departamento Alumnos (011) 5169-3364</li>
                </ul>
                <li>Instituto de Capacitación Especializada (Bs.As) Tel: (02324)430-054</li>
                <li>Centro de Educación a Distancia (Bs.As) Tel: (011) 5169-3355</li>
            </ul>

        </div>
    </p-dialog>
</div>
