<app-header></app-header>
<p-breadcrumb class=""  [model]="items"></p-breadcrumb>
<div class="membrete">
    <h1 class="subtitulo">Biblioteca</h1>
</div>
<div class="containerContent mt-5 mb-5">
    <section>
        <h3 class="mb-3">Misión</h3>
        <p class="mb-3">La misión de la biblioteca es brindar a toda la comunidad de Gendarmería Nacional el acceso a distintas fuentes de información, en fondos propios o de otras bibliotecas, que fomenten y favorezcan el estudio y la investigación en el marco de la Seguridad Pública y la Defensa Nacional.</p>
        <h3 class="mb-3">Visión</h3>
        <p>La biblioteca procura ser un referente en los servicios e información proporcionada a sus usuarios utilizando las nuevas tecnologías, en un alto nivel de eficiencia y calidad, para contribuir al desarrollo intelectual y profesional de toda la comunidad de Gendarmería Nacional.</p>
    </section>
    <div>
        <div class="containerServiciosCONSULTAS my-3">
            <section class="serviciosContainer">
                <h3 class="mb-3">Servicios</h3>
                <ul>
                    <li>- Acceso libre a los estantes</li>
                    <li>- Consulta en Sala de Lectura</li>
                    <li>- Búsqueda y localización de bibliografía</li>
                    <li>- Préstamo a domicilio</li>
                    <li>- Reservas y renovación de préstamos</li>
                    <li>- Formación de usuarios</li>
                    <li>- Internet WIFI</li>
                </ul>
            </section>            
        </div>
        <section class="containerBookContacto my-3">
            <div class="containerBookimg">
                <img class="imgBibliotecaUuaa" src="../../../../assets/img/oferta/icono-biblioteca-uuaa.png" alt="">            
            </div>
            <div class="containerContactos">
                <div>
                    <h4 class="mb-3">Contacto</h4>
                    <ul>
                        <li>- Mail: biblioteca.escugen@iugna.edu.ar</li>
                    </ul>
                </div>
                
            </div>
        </section>
    </div>
</div>
<br>
<br>
<br>
<app-footer></app-footer>
