<section class="containerForm">
    <form (ngSubmit)="guardar()" action="" method="post" autocomplete="off" [formGroup]="miFormulario">       
        <p-editor formControlName="autoridades" placeholder="Edite el cuerpo de la novedad aquí" [style]="{'height':'320px'}"></p-editor>
        <p *ngIf="isValid('autoridades')"class="error">Debe actualizar el campo</p>
            <br>
            <br>
        <p-button type="submit" >Aceptar</p-button>
    </form>
    <br>
    <br>
    <br>
</section>
