<app-header></app-header>
<p-breadcrumb class=""  [model]="items"></p-breadcrumb>
<hr class="mb-5 hrEscusuper">
<div class="containerBiblioteca">
    <section class="containerBodyBiblioteca">
        <div class="containerImg">
            <img src="../../../../assets/img/iconos/icono-3.png" alt="">
        </div>
        <div>
            <p class="title text-base lg:text-3xl">Instituto de Formación de Gendarmes “Gendarme Félix Manifior”</p>            
        </div>        
    </section>
    <div class="containerHr">
        <hr class="hrBiblioteca ">
    </div>
    <section class="ofertaEscusuper">
        <div class="containerOferta">
            <p class="text-base lg:text-xl pb-3">El Instituto de Formación de Gendarmes “Gendarme Félix Manifior”, se encuentra ubicado en la localidad de Barreal, a 220 kilómetros de la capital de la provincia de San Juan. Dedicada a la preparación de los Aspirantes a Gendarmes.</p>
            <p class="text-base lg:text-xl pb-3">Su trayecto de formación, el Curso básico de Formación de Gendarmes, se encuentra articulado al plan de estudio de las Tecnicaturas Universitarias de la Unidad Académica Escuela de Suboficiales.</p>
            <p class="text-base lg:text-xl pb-3">Asimismo, para su ingreso deben cumplir los requisitos básicos de incorporación a la Fuerza y aprobar los exámenes de admisión.</p>            
        </div>
    </section>
    
    
    
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

<app-footer></app-footer>
