<div class="containerMenuDinamico m-3">
    <p class="title mb-3">Ciclos de Licenciaturas</p>
    <hr>
    <div>
        <p class="title2 mt-3 mb-3">Carrera: Licenciatura en Seguridad Pública -  Ciclo de Complementación Curricular</p>
        <p class="title3 mb-3">Título: Licenciado/a  en Seguridad Pública</p>
        <p class="mb-3">Duración: 2 años</p>
        <p class="mb-3">Resolución Ministerial: RESOL-2020-985-APN-ME</p>
        <p class="title4 mb-5"><a href="../../../../assets/pdfs/escusuper/CICLO_2018_Lic_seguridad_publica.pdf">Plan de estudios</a></p>
        <hr class="mb-5">
    </div>
    <div>
        <p class="title2 mt-3 mb-3">Carrera: Licenciatura en Administración Pública -  Ciclo de Complementación Curricular</p>
        <p class="title3 mb-3">Título: Licenciado/a  en Licenciatura en Administración Pública</p>
        <p class="mb-3">Duración: 2 años</p>
        <p class="mb-3">Resolución Ministerial: RESOL-2019-3876-APN-MECCYT</p>
        <p class="title4 mb-5"><a href="../../../../assets/pdfs/escusuper/CICLO_ADMINISTRACION.pdf">Plan de estudios</a></p>
        <hr class="mb-5">
    </div>
    <div>
        <p class="title2 mt-3 mb-3">Carrera: Licenciatura en Criminalística -  Ciclo de Complementación Curricular</p>
        <p class="title3 mb-3">Título: Licenciado/a  en Criminalística</p>
        <p class="mb-3">Duración: 2 años</p>
        <p class="mb-3">Resolución Ministerial: RESOL-2020-985-APN-ME</p>
        <p class="title4 mb-5"><a href="../../../../assets/pdfs/escusuper/CICLO_2018_Lic_criminalistica.pdf">Plan de estudios</a></p>
        <hr class="mb-5">
    </div>
    <div>
        <p class="title2 mt-3 mb-3">Carrera: Licenciatura en Investigación Judicial -  Ciclo de Complementación Curricular</p>
        <p class="title3 mb-3">Título: Licenciado/a  en Investigación Judicial </p>
        <p class="mb-3">Duración: 2 años</p>
        <p class="mb-3">Resolución Ministerial: RS-2019-4072-APN-MECCYT</p>
        <p class="title4 mb-5"><a href="../../../../assets/pdfs/escusuper/investigacion.pdf">Plan de estudios</a></p>
        <hr class="mb-5">
    </div>
    <div>
        <p class="title2 mt-3 mb-3">Carrera: Profesorado Universitario (en la Disciplina correspondiente al título de base) - Ciclo</p>
        <p class="title3 mb-3">Título: Profesor/a Universitario/a (en la Disciplina correspondiente al título base)</p>
        <p class="mb-3">Duración: 2 años</p>
        <p class="mb-3">Resolución Ministerial: RES. ME Nº 790/12 </p>
        <p class="title4 mb-5"><a href="../../../../assets/pdfs/escusuper/CICLO_2010_Profesorado.pdf">Plan de estudios</a></p>
    </div>
    <br>
    <br>
    <br>
</div>
<div></div>
