<app-header></app-header>
<p-breadcrumb  [model]="items"></p-breadcrumb>
<!-- <div class="containerImg mt-2 mb-2">
    <img src="../../../../assets/img/novedades/banner/novedadCiclos.png" alt="">
</div> -->
<div class="mb-3">
    <p class="lugar text-xl">Cursos de Extensión</p>
</div>
<section class="containerNovedad">
    <p class="title mb-3 text-teal-600">Inscripciones abiertas para los Cursos de Extensión Universitaria 2024</p>
    <p>La Unidad Académica Escuela Superior del Instituto Universitario de Gendarmería Nacional, informa que se encuentran las inscripciones abiertas para los Cursos de Extensión Universitaria, desde el 16 de febrero hasta el 14 de marzo del corriente año, correspondientes a</p>
      <br>
      <p class="text-xl font-bold text-teal-600">Modalidad Híbrida</p>
      <div>

        <p class="text-base font-bold text-teal-600">Talleres de idioma: con metodología práctica en laboratorio:</p>
        <br>
        <div class="pl-5">
          <p class="text-base font-bold text-teal-600">•	Inglés Nivel I -  Inglés Nivel III</p>
          <p class="pl-5">Inicia: 18/03 - Finaliza: 05/07</p>
          <p class="pl-5">Para realizar la preinscripción debe ingresar al siguiente enlace: <a href="https://forms.gle/mKTPBvAjQVajLEsa6">https://forms.gle/mKTPBvAjQVajLEsa6</a> </p>
        </div>
        <br>
        <div class="pl-5">
          <p class="text-base font-bold text-teal-600">•		Prevención el Delito. </p>
          <p class="pl-5">Inicia: 18/03 - Finaliza: 05/07</p>
          <p class="pl-5">Para realizar la preinscripción debe ingresar al siguiente enlace: <a href="https://forms.gle/CBWGcAgUiWkz8U8F7">https://forms.gle/CBWGcAgUiWkz8U8F7</a> </p>
        </div>

      </div>
      <br>
      <hr>
      <br>
      <p class="text-xl font-bold text-teal-600">Modalidad Presencial</p>
      <div>

        <p class="text-base font-bold text-teal-600">Talleres de idioma: con metodología práctica en laboratorio:</p>
        <br>
        <div class="pl-5">
          <p class="text-base font-bold text-teal-600">• Francés Nivel I - Francés Nivel III</p>
          <p class="pl-5">Inicia: 18/03 - Finaliza: 05/07. </p>
          <p class="pl-5">Para realizar la preinscripción debe ingresar al siguiente enlace: <a href="https://forms.gle/CBWGcAgUiWkz8U8F7">https://forms.gle/mKTPBvAjQVajLEsa6</a> </p>
        </div>
        <br>


      </div>
      <br>
      <hr>
      <br>
      <p class="text-xl font-bold text-teal-600">Modalidad Virtual</p>
      <div>
        <br>
        <div class="pl-5">
          <p class="text-base font-bold text-teal-600">•	Introducción a la Gestión Organizacional</p>
          <p class="pl-5">Inicia: 18/03 - Finaliza: 05/07.  </p>
          <p class="pl-5">Para realizar la preinscripción debe ingresar al siguiente enlace: <a href="https://forms.gle/gKuVPKyuiye4jQfC7">https://forms.gle/mKTPBvAjQVajLEsa6</a> </p>
        </div>
        <br>


      </div>
      <br>
      <hr>
      <br>
      <div>
        <p><b>Requisitos de admisión:</b></p>
        <br>
        <p>Los cursos están dirigidos al personal de la Fuerza y a la comunidad, con secundario completo, mayores de 18 años.</p>
        <br>
        <p><b>La oferta educativa es gratuita.</b></p>
        <br>
        <p><b>Documentación requerida para la inscripción:</b></p>
        <br>
        <ul class="style-none pl-5">
          <li>Fotocopia de DNI, anverso y reverso.</li>
          <li>Foto 4x4</li>
          <li>Curriculum Vitae.</li>
        </ul>
      </div>
    <br>
    <hr>

    <br>
    <p><b>*Nota</b>: En caso de que no pueda adjuntar el formulario on-line enviar la documentación solicitada en formato PDF (en un único documento especificar apellido y nombre y curso a realizar), a la dirección de correo electrónico de la Secretaría de Extensión de la Unidad Académica Escuela Superior: <b class="text-cyan-700">extension.escusuper@iugna.edu.ar</b></p>
    <br>
    <br>
    <br>
</section>
<app-footer></app-footer>
