<app-header></app-header>
<p-breadcrumb  [model]="items"></p-breadcrumb>
<!-- <div class="containerImg mt-2 mb-2">
    <img src="../../../../assets/img/novedades/banner/novedadCiclos.png" alt="">
</div> -->
<div class="mb-3">
    <p class="lugar text-xl">IUGNA: Unidad Académica Escuela Superior</p>
</div>
<section class="containerNovedad">
    <p class="title mb-3 text-teal-600">Inscripciones abiertas para los Cursos de Extensión Universitaria 2023</p>
    <p>La Unidad Académica Escuela Superior del Instituto Universitario de
      Gendarmería Nacional, informa que se encuentran abiertas las inscripciones
      para los Cursos de Extensión Universitaria hasta el 08 de agosto del corriente
      año, correspondientes a:</p>
      <br>
      <p class="text-xl font-bold text-teal-600">Cursos presenciales</p>
      <div>
        <p class="text-base font-bold text-teal-600">- Taller de idioma con metodología práctica en laboratorio:</p>
        <div class="pl-5">
          <p class="text-base font-bold text-teal-600">Francés Nivel II.</p>
          <p>Los días martes y jueves de 15.30 a 17.30 horas.
            Inicia: 15/08 - Finaliza: 30/11</p>
        </div>
        <div class="pl-5">
          <p class="text-base font-bold text-teal-600">Francés Nivel de Conversación.</p>
          <p>Los días lunes y miércoles de 15.30 a 17.30 horas.
            Inicia: 14/08 - Finaliza: 29/11</p>
        </div>
        <div>
          <p class="text-base font-bold text-teal-600">- Introducción a la Gestión Organizacional.</p>
          <p class="pl-5">Los días martes de 15.30 a 18.00 horas.
            Inicia: 15/08 - Finaliza: 28/11</p>
        </div>
        <div>
          <p class="text-base font-bold text-teal-600">- Mediación - Negociación.</p>
          <p class="pl-5">Los días jueves de 15.30 a 17.30 horas.
            Inicia: 17/08 - Finaliza: 30/11</p>
        </div>
        <p>Vacantes disponibles: 30.</p>
        <p class="font-bold">*Formulario de inscripción: <a href="https://forms.gle/UHXn8MhfKn1f3hS19">Aqui</a></p>
      </div>
      <br>
      <hr>
      <br>
      <p class="text-xl font-bold text-teal-600">Curso Virtual</p>
      <div>
        <p class="text-base font-bold text-teal-600">- Prevención y Protección de la Violencia Intrafamiliar y de Género.</p>
        <p class="pl-5">Los días lunes de 15.30 a 17.00 horas.
          Inicia: 14/08 - Finaliza: 27/11</p>
      </div>
      <p>Vacantes disponibles: 30.</p>
      <p class="font-bold">*Formulario de inscripción: <a href="https://forms.gle/UHXn8MhfKn1f3hS19">Aqui</a></p>
      <br>
      <hr>
      <br>
      <p class="text-xl font-bold text-teal-600">Cursos bimodales</p>
      <p class="text-base font-bold text-teal-600">- Taller de idioma con metodología práctica en laboratorio:</p>
      <div class="pl-5">
        <p class="text-base font-bold text-teal-600">Inglés Nivel II.</p>
        <p>Los días lunes de 15.30 a 17.30 horas.
          Inicia: 14/08 - Finaliza: 29/11</p>
      </div>
      <div class="pl-5">
        <p class="text-base font-bold text-teal-600">Inglés Nivel III.</p>
        <p>Los días martes de 15.30 a 17.30 horas.
          Inicia: 14/08 - Finaliza: 29/11</p>
      </div>
      <p class="font-bold">*Formulario de inscripción: <a href="https://forms.gle/rfkD3GkLMrSy1avE6">Aqui</a></p>
    <br>
    <br>
    <hr>
    <br>
    <p>*En caso de no poder completar el formulario on-line enviar la documentación
      en formato pdf (en un documento único indicar apellido y nombre) al correo
      electrónico de la Secretaría de Extensión: <a href="">extension.escusuper@iugna.edu.ar</a></p>
    <br>
    <br>
</section>
<app-footer></app-footer>
