<app-header></app-header>
<p-breadcrumb  [model]="items"></p-breadcrumb>
<!-- <div class="containerImg mt-2 mb-2">
    <img src="../../../../assets/img/novedades/banner/novedadCiclos.png" alt="">
</div> -->
<div class="mb-3">
    <p class="lugar text-xl">Cursos de Extensión</p>
</div>
<section class="containerNovedad">
    <p class="title mb-3 text-teal-600">Inscripciones abiertas para los
      Cursos de Extensión Universitaria 2025</p>
    <p>La Unidad Académica Escuela Superior del Instituto Universitario de
      Gendarmería Nacional, informa que se encuentran las inscripciones abiertas
      para los Cursos de Extensión Universitaria, desde el 04 de febrero al 14 de
      marzo del corriente año, correspondientes a:</p>
      <br>
      <p class="text-xl font-bold text-teal-600">Modalidad Presencial</p>
      <div>
        <br>
        <div class="pl-5">
          <p class="text-base font-bold text-teal-600">•	Inglés Nivel III <a href="../../../../assets/pdfs/extension/ingles_III_2025.pdf" class="text-orange-500 font-bold cursor-pointer">(Más información)</a></p>
          <p class="pl-5">Para realizar la preinscripción debe ingresar al siguiente enlace: <a href="https://forms.gle/cA8wybNu2iFJg5Jr9">https://forms.gle/cA8wybNu2iFJg5Jr9</a> </p>
        </div>
        <br>
        <div class="pl-5">
          <p class="text-base font-bold text-teal-600">•		Francés Nivel I <a href="../../../../assets/pdfs/extension/frances_I_2025.pdf" class="text-orange-500 font-bold cursor-pointer">(Más información)</a></p>
          <p class="pl-5">Para realizar la preinscripción debe ingresar al siguiente enlace: <a href="https://forms.gle/eZZv2mLLY8svYDJY9">https://forms.gle/eZZv2mLLY8svYDJY9</a> </p>
        </div>

      </div>
      <br>
      <p class="text-xl font-bold text-teal-600">Modalidad Virtual </p>
      <div>
        <br>
        <div class="pl-5">
          <p class="text-base font-bold text-teal-600">• Inglés Nivel I <a href="../../../../assets/pdfs/extension/ingles_I_2025.pdf" class="text-orange-500 font-bold cursor-pointer">(Más información)</a></p>
          <p class="pl-5">Para realizar la preinscripción debe ingresar al siguiente enlace: <a href="https://forms.gle/cA8wybNu2iFJg5Jr9">https://forms.gle/cA8wybNu2iFJg5Jr9</a> </p>
        </div>
      </div>
      <br>
      <div>
        <div class="pl-5">
          <p class="text-base font-bold text-teal-600">• Introducción a la Gestión Organizacional <a href="../../../../assets/pdfs/extension/gestion_ organizacional_25.pdf" class="text-orange-500 font-bold cursor-pointer">(Más información)</a></p>
          <p class="pl-5">Para realizar la preinscripción debe ingresar al siguiente enlace: <a href="https://forms.gle/dASnme1FTe1hjN9YA">https://forms.gle/dASnme1FTe1hjN9YA</a> </p>
        </div>
      </div>
      <br>
      <div>
        <div class="pl-5">
          <p class="text-base font-bold text-teal-600">• Prevención el Delito <a href="../../../../assets/pdfs/extension/prevencion_del_delito_25.pdf" class="text-orange-500 font-bold cursor-pointer">(Más información)</a></p>
          <p class="pl-5">Para realizar la preinscripción debe ingresar al siguiente enlace: <a href="https://forms.gle/U73Ej7MtjUsSE2wK9">https://forms.gle/U73Ej7MtjUsSE2wK9</a> </p>
        </div>
        <br>
      </div>
      <p class="font-bold">Sede: Av. Paseo Colón N° 533 - CABA</p>
      <br>
      <hr>
      <br>
      <div>
        <p><b>Requisitos de admisión:</b></p>
        <br>
        <p>Los cursos están dirigidos al personal de la Fuerza y a la comunidad (mayores
          de 18 años con secundario completo).</p>
        <br>
        <p><b>La oferta educativa es gratuita.</b></p>
        <br>
        <p><b>Documentación requerida para la inscripción:</b></p>
        <br>
        <ul class="style-none pl-5">
          <li class="mb-2">Fotocopia de DNI, anverso y reverso.</li>
          <li>Título / Analítico en caso de corresponder.</li>
        </ul>
      </div>
    <br>
    <hr>

    <br>
    <p><b> *Nota: En caso de que no pueda adjuntar el formulario on-line enviar la
      documentación solicitada en formato PDF (en un único documento especificar
      apellido y nombre), a la dirección de correo electrónico de la Secretaría de
      Extensión de la Unidad Académica Escuela Superior: </b> <b class="text-cyan-700">extension.escusuper@iugna.edu.ar</b></p>
    <br>
    <br>
    <br>
</section>
<app-footer></app-footer>
