<app-header></app-header>
<p-breadcrumb class=""  [model]="items"></p-breadcrumb>
<hr class="mb-5 hrEscusuper">
<div class="containerBiblioteca">
    <section class="containerBodyBiblioteca">
        <div class="containerImg">
            <img src="../../../../assets/img/iconos/icono-3.png" alt="">
        </div>
        <div>
            <p class="title text-base lg:text-3xl">Instituto de Capacitación Especializada “Cabo Juan Adolfo Romero”</p>            
        </div>        
    </section>
    <div class="containerHr">
        <hr class="hrBiblioteca ">
    </div>
    <section class="ofertaEscusuper">
        <div class="containerOferta">
            <p class="text-base lg:text-xl pb-3">El Instituto de Capacitación Especializada “Cabo Juan Adolfo Romero” se encuentra ubicado en la ciudad bonaerense de Mercedes.</p>
            <p class="text-base lg:text-xl pb-3">Su oferta educativa está dirigida principalmente a capacitar y perfeccionar al personal del cuadro de Suboficiales. </p>
            <p class="text-base lg:text-xl pb-3">Los cursos de formación que lleva adelante tienen como destinatarios al personal de Gendarmes que realizan una capacitación para acceder al grado de Cabo.</p>
            <p class="text-base lg:text-xl pb-3">Asimismo, en esta unidad educativa se desarrolla el Curso Básico de Formación de Gendarmes, articulado al plan de estudio de las Tecnicaturas Universitarias de la Escuela de Suboficiales.</p>
            
        </div>
    </section>
    
    
    
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

<app-footer></app-footer>
