<app-header></app-header>
<p-breadcrumb class=""  [model]="items"></p-breadcrumb>
<div class="bannerContainer">
    <p class="titleBanner">Carrera: Licenciatura en Seguridad Pública 
        Ciclo de Complementación Curricular</p>
</div>
<div class="containerBodyCarrera">
    <p class="title mt-5 mb-3">Título: Licenciado/a  en Seguridad Pública</p>
    <p class="mb-3">Duración: 2 años</p>
    <p class="mb-3">Resolución Ministerial: RESOL-2020-985-APN-ME</p>
    <a href="../../../../assets/pdfs/escusuper/CICLO_2018_Lic_seguridad_publica.pdf">
        <p class="mb-3 text-base font-bold lg:text-xl text-green-500">Plan de estudios</p>
    </a>
    <p class="mb-3 font-bold text-base lg:text-xl">Requisitos de Ingreso</p>
    <p class="mb-3">Título Técnico Superior afín al área de la Seguridad Pública otorgado por una institución oficial, con plan de estudios de tres (3) años de duración y una carga horaria no menor a mil seiscientas (1600) horas reloj, reconocido por el organismo ministerial correspondiente.</p>
    <p class="mb-3">La Unidad Académica podrá considerar, en casos excepcionales como requisitos de ingreso a la carrera de Licenciatura en Seguridad Pública – ciclo de complementación curricular -, las titulaciones previas de carreras de Nivel Superior con una carga horaria equivalente o superior a mil cuatrocientos (1400) horas reloj, y un plan de estudios con una duración no menor a los dos (2) años, reconocidas por el organismo ministerial correspondiente.</p>
    <p class="mb-3">Los postulantes cuyo trayecto previo suponga una cantidad total de horas reloj inferior a las mil seiscientas (1600) y no menor a mil cuatrocientas (1400), podrán realizar el curso de nivelación previsto para la carrera.</p>
    <p class="mb-3">Las clases se desarrollan bajo la modalidad presencial de lunes a jueves de 15.00hs a 22.10 hs.</p>
    <p class="mb-3 font-bold text-base lg:text-xl">Documentación para la inscripción</p>
    <ul>
        <li><a href="https://preinscripcion.iugna.edu.ar/escuelas/">Ficha de pre inscripción SIU GUARANI</a></li>
        <li>Fotocopia de DNI, frente y dorso</li>
        <li>Ficha de examen personal <a href="../../../../assets/pdfs/novedades/EXAMEN FISICO DE INGRESO.pdf">aqui</a></li>
        <li class="mb-3">Fotocopia del título y analítico de Técnico Superior, o constancia de título en trámite (si el título de la tecnicatura fue expedido antes del 01/01/2010 debe tener la legalización del Ministerio del Interior).</li>
        <li class="mb-3">Toda la información debe ser enviada al siguiente mail: ciclospreinscripciones@iugna.edu.ar aclarando a qué ciclo desea inscribirse y el formato de los archivos deben ser en PDF (si utiliza la aplicación de escaneo por foto los archivos deben ser legibles, caso contrario serán rechazados).</li>
        <li>La información será analizada por autoridades de las carreras según criterios de admisión.</li>
        <li>La confirmación de la inscripción será realizada por personal de la Unidad Académica vía mail.</li>
    </ul>
</div>
<br>
<br>
<br>
<br>
<app-footer></app-footer>
