.menuOfertasResponsiveContainer > button {
  width: 100%;
  padding: 4% 0% 4% 0%;
  font-weight: 500;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
.pregrado{
  background-color: #0E3D35;
}
.grado {
  background-color: #117572;
}
.cursosPosgrado {
  background-color: #3ABF88;
}
.cursosExtension {
 background-color: #8AC979;
}
