<p-accordion class="accordionMenuOfertaResponsive">
    <p-accordionTab class="tecnicaturas" header="TECNICATURAS">
        <div class="containerItemsAccordion">
            <p>Seguridad Pública y Ciudadana</p>
            <p>Seguridad Pública y Ciudadana con orientación en Administración Pública</p>
            <p>Seguridad Pública y Ciudadana con orientación en Criminalística</p>
            <p>Seguridad Pública y Ciudadana con orientación en Gestión de las Comunicaciones</p>
            <p>Seguridad Pública y Ciudadana con orientación en Investigación Criminal</p>
            <p>Seguridad Pública y Ciudadana con orientación en Seguridad Vial</p>
        </div>
    </p-accordionTab>
    <p-accordionTab header="LICENCIATURAS">
        <div class="containerItemsAccordion">
            <p>Licenciatura en Seguridad Pública</p>
            <p>Licenciatura en Administración Pública</p>
            <p>Licenciatura en Criminalística</p>
            <p>Licenciatura en Gestión y Seguridad de las Tecnologías de la Información</p>
        </div>
    </p-accordionTab>
    <p-accordionTab header="CICLOS DE LICENCIATURA">
        <div class="containerItemsAccordion">
            <p>Licenciatura en Seguridad Pública - Ciclo de Complementación Curricular</p>
            <p>Licenciatura en Administración Pública - Ciclo de Complementación Curricular</p>
            <p>Licenciatura en Criminalística - Ciclo de Complementación Curricular</p>
            <p>Licenciatura en Investigación Judicial - Ciclo de Complementación Curricular</p>
            <p>Profesorado Universitario (en la Disciplina correspondiente al título de base) - Ciclo</p>
        </div>
    </p-accordionTab>
    <p-accordionTab header="CURSOS DE EXTENSIÓN">
        <div class="containerItemsAccordion">
            <p>NaN</p>
        </div>
    </p-accordionTab>
    <p-accordionTab header="CURSOS DE POSGRADO">
        <div class="containerItemsAccordion">
            <p>Diplomatura en Fronteras</p>
            <p>Diplomatura en Gestión Integral de Riesgo de Desastre</p>
            <p>Diplomatura en Inteligencia Criminal y Crimen Organizado</p>
        </div>
    </p-accordionTab>    
</p-accordion>
