<app-header></app-header>
<p-breadcrumb  [model]="items"></p-breadcrumb>
<div class="containerBiblioteca">
    <hr class="mb-5">
    <section class="containerBodyBiblioteca">
        <div class="containerImg">
            <img src="../../../../assets/img/iconos/icono-3.png" alt="">
        </div>
        <div>
            <p class="text-base lg:text-3xl">IUGNA-CIN</p>            
        </div>        
    </section>
    <div class="containerHr">
        <hr class="hrBiblioteca ">
    </div>
    <section class="containerDetailBiblioteca">
        <p class="text-base lg:text-lg mt-1">El Instituto Universitario de Gendarmería Nacional (IUGNA) se encuentra adherido al Consejo Interuniversitario Nacional (CIN).</p>    </section>
    <section class="containerDetailBiblioteca">        
        <p class="text-base lg:text-lg mt-1">Asimismo, El CIN brinda becas a estudiantes que deseen iniciarse en la investigación científica.</p>        
    </section>
    <section class="containerDetailBiblioteca">     
        <p class="text-base lg:text-lg mt-1">El Consejo Interuniversitario Nacional, como organismo coordinador de las políticas universitarias, nuclea y contiene a las universidades nacionales que de manera voluntaria decidan formar parte de dicho organismo. </p>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <section class="flex containerContacto mb-5">
        <div>
            <p class="contactoItems text-base lg:text-lg pb-2">Para más información:</p>
            <p class="contactoItems text-base lg:text-lg pb-2">Secretaría de Investigación</p>
            <p class="contactoItems text-base lg:text-lg pb-2">email: investigacion@iugna.edu.ar</p>
        </div>
        <img class="imgDecorativo" src="../../../../assets/img/iconos/investigacion.png" alt="">
    </section>
    <app-submenu-investigacion></app-submenu-investigacion>
</div>
<app-footer></app-footer>

