<app-header></app-header>

    <p-breadcrumb  [model]="items"></p-breadcrumb>
    <div class="membrete">
        <h2 class="subtitulo">Instituto Universitario de Gendarmería Nacional</h2>
    </div>

    <div class="institutoContainer">
        <img class="icon1" src="../../../../assets/img/iconos/icono-1.png" alt="">
        <h2>El Instituto Universitario</h2>

    </div>
        <div style="display:flex;justify-content: center;">
            <hr class="divider">
        </div>
        <br>
    <div>
        <div class="acordeonContainer">
            <p-accordion>
                <div class="tabAcordeon">
                    <img class="icon2" src="../../../../assets/img/iconos/icono-3.png" alt="">
                    <p-accordionTab class="institutoItems" header="¿Quiénes Somos?" [selected]="false" iconPos="right">
                        <p class="text-base lg:text-lg">El Instituto Universitario de Gendarmería Nacional (IUGNA) ha sido creado por la ley 26.286 (publicada en el boletin oficial Nro. 31.239 de fecha 14 de septiembre de 2007), en el marco de la Ley de Educación Superior N° 24.521.</p>
                        <br>
                        <p class="text-base lg:text-lg">Circunscribe su oferta académica de formación profesional, de investigación, de producción y de extensión al área disciplinar de la Seguridad Pública</p>
                        <br>
                        <p class="text-base lg:text-lg">El IUGNA incorpora a los Institutos de Formación de la Fuerza como Unidades Académicas orientadas
                            a las funciones universitarias: docencia, extensión e investigación. Y proporciona al Sistema Educativo
                            de Gendarmería Nacional (SEGEN) de una estructura académica que se inserta en el Sistema
                            Universitario Nacional.</p>
                        <br>
                        <p class="text-base lg:text-lg">El Rectorado del Instituto tiene su sede en la calle Paseo Colón 533, piso 6 de la Ciudad de Buenos
                            Aires.</p>
                        <br>
                        <p class="text-base lg:text-lg">Las Unidades Académicas e Institutos de Formación: </p>
                        <br>
                        <ul class="containerSchools">
                            <li class="text-base lg:text-lg">Escuela Superior;</li>
                            <li class="text-base lg:text-lg">Escuela de Gendarmería Nacional;</li>
                            <li class="text-base lg:text-lg">Escuela de Suboficiales; </li>
                            <li class="text-base lg:text-lg">Instituto de Capacitación Especializada</li>
                            <li class="text-base lg:text-lg">Instituto de Formación de Gendarmes.</li>
                        </ul>

                    </p-accordionTab>
                </div>
                <div class="tabAcordeon">
                    <img class="icon2" src="../../../../assets/img/iconos/icono-3.png" alt="">
                    <p-accordionTab class="institutoItems" header="Misión" [selected]="false">
                        <p class="text-base lg:text-lg">Brindar formación profesional y técnica en el área de la Seguridad, impartiendo enseñanza en los niveles de pregrado, grado y posgrado bajo las modalidades presencial y a distancia, así como también formación continua y docente en dichas modalidades, mediante carreras, cursos y actividades relacionadas.</p>
                        <br>
                        <p class="text-base lg:text-lg">Asimismo, tiene como objetivos promover y desarrollar la investigación científica y tecnológica en el área de la Seguridad, prestar servicios de apoyo científico y técnico al Estado y generar actividades de extensión que le permitan extender lazos con la sociedad en su conjunto.</p>
                    </p-accordionTab>
                </div>
                <div class="tabAcordeon">
                    <img class="icon2" src="../../../../assets/img/iconos/icono-3.png" alt="">
                    <p-accordionTab class="institutoItems" header="Autoridades" [selected]="false">
                       <p-accordion>
                           <div class="tabAcordeon">
                               <p-accordionTab class="institutoItems" header="- Órganos Unipersonales" [selected]="false">
                                   <div class="containerOrganosUnipersonales">
                                       <div class="w-2/5">
                                           <p class="font-bold text-base lg:text-lg mb-2">Rector</p>
                                           <p class="text-base lg:text-lg mb-3">Comandante Mayor (R) Lic. Claudio Gabriel Lagrange</p>
                                       </div>
                                       <div class="w-2/5">
                                           <p class="font-bold text-base lg:text-lg mb-2">Vicerrector</p>
                                           <p class="text-base lg:text-lg mb-3">Comandante General (R) Abogado Augusto Aranda</p>
                                       </div>
                                       <div class="w-2/5">
                                           <p class="font-bold text-base lg:text-lg mb-2">Secretaria Académica</p>
                                           <p class="text-base lg:text-lg mb-3">Lic. Olga Jaimen</p>
                                       </div>
                                       <div class="w-2/5">
                                           <p class="font-bold text-base lg:text-lg mb-2">Secretario de Planeamiento Educativo </p>
                                           <p class="text-base lg:text-lg mb-3">Mg Carlos Roberto Alfredo Berghmas</p>
                                       </div>
                                       <div class="w-2/5">
                                           <p class="font-bold text-base lg:text-lg mb-2">Secretaria de Posgrado, Investigación y Educación Permanente</p>
                                           <p class="text-base lg:text-lg mb-3">Dra. Fernanda Page Poma</p>
                                       </div>
                                       <div class="w-2/5">
                                           <p class="font-bold text-base lg:text-lg mb-2">Secretario de Planeamiento y Administración Financiera</p>
                                           <p class="text-base lg:text-lg mb-3"></p>
                                       </div>
                                       <div class="w-2/5">
                                           <p class="font-bold text-base lg:text-lg mb-2">Secretario de Extensión </p>
                                           <p class="text-base lg:text-lg mb-3">Abogado Federico Marcos Gomez Aubone</p>
                                       </div>
                                   </div>
                               </p-accordionTab>
                           </div>
                           <div class="tabAcordeon">
                               <p-accordionTab class="institutoItems" header="- Directores de Unidades Académicas" [selected]="false">
                                <div class="containerOrganosUnipersonales">
                                    <div class="w-2/5">
                                        <p class="font-bold text-base lg:text-lg mb-2">Director de la Escuela Superior de Gendarmería Nacional</p>
                                        <p class="text-base lg:text-lg mb-3">Comandante Principal Esteban Gemelli</p>
                                    </div>
                                    <div class="w-2/5">
                                        <p class="font-bold text-base lg:text-lg mb-2">Director de la Escuela de Gendarmería Nacional</p>
                                        <p class="text-base lg:text-lg mb-3">Comandante Mayor Claudio Daniel Lalli</p>
                                    </div>
                                    <div class="w-2/5">
                                        <p class="font-bold text-base lg:text-lg mb-2">Director de la Escuela de Suboficiales</p>
                                        <p class="text-base lg:text-lg mb-3">Comandante Mayor Héctor Gabriel González</p>
                                    </div>
                                    <div class="w-2/5">
                                        <p class="font-bold text-base lg:text-lg mb-2">Director del Instituto de Capacitación Especializada </p>
                                        <p class="text-base lg:text-lg mb-3">Comandante Principal Julio Alberto Villalba</p>
                                    </div>
                                    <div class="w-2/5">
                                        <p class="font-bold text-base lg:text-lg mb-2">Director del Instituto de Formación de Gendarmes</p>
                                        <p class="text-base lg:text-lg mb-3">Comandante Principal Nestor Walter Prado</p>
                                    </div>
                                </div>
                               </p-accordionTab>
                           </div>
                           <div class="tabAcordeon">
                               <p-accordionTab class="institutoItems" header="- Órganos Colegiados" [selected]="false">
                                   <p-accordion>
                                    <div class="tabAcordeon">
                                        <p-accordionTab class="institutoItems " header="- Consejo Directivo" [selected]="false">
                                            <div class="containerOrganosColegiados">
                                                <div class="w-2/5">
                                                    <p class="font-bold text-base lg:text-lg mb-2">Presidente:</p>
                                                    <p class="text-base lg:text-lg mb-2">Director Nacional de Gendarmería</p>
                                                    <p class="text-base lg:text-lg mb-3">Comandante General Andrés Severino</p>
                                                </div>
                                                <div class="w-2/5">
                                                    <p class="font-bold text-base lg:text-lg mb-2">Vicepresidente:</p>
                                                    <p class="text-base lg:text-lg mb-2">Subdirector Nacional de Gendarmería Comandante</p>
                                                    <p class="text-base lg:text-lg mb-3">General Javier Alberto Lapalma</p>
                                                </div>
                                                <div class="w-2/5">
                                                    <p class="font-bold text-base lg:text-lg mb-2">Vocales:</p>
                                                    <p class="text-base lg:text-lg mb-2">Dos (2) miembros del Ministerio de Seguridad de la Nación:</p>
                                                    <p class="text-base lg:text-lg mb-2">Lic. Mercedes La Gioiosa</p>
                                                    <p class="text-base lg:text-lg mb-2">Lic. Nazarena Belén Mora</p>
                                                    <p class="text-base lg:text-lg mb-3">Una (1) representante del Ministerio de Educación de la Nación:</p>
                                                    <p class="text-base lg:text-lg mb-3">Mg. Yanina Anabel Armentano</p>
                                                    <p class="text-base lg:text-lg mb-3">Uno (1) representante de la Comunidad Académica-Científica:</p>
                                                    <p class="text-base lg:text-lg mb-3">Profesor Martín Pablo Montiel</p>
                                                    <p class="text-base lg:text-lg mb-3">El Director General de Personal de GNA</p>
                                                    <p class="text-base lg:text-lg mb-3">Comandante Mayor Javier Francisco Reniero</p>
                                                    <p class="text-base lg:text-lg mb-3">El Director de Educación e Institutos de GNA:</p>
                                                    <p class="text-base lg:text-lg mb-3">Comandante Mayor Sergio Daniel Oitana</p>
                                                    <p class="text-base lg:text-lg mb-3">El Rector del IUGNA:</p>
                                                    <p class="text-base lg:text-lg mb-3">Comandante Mayor (R) Lic. Claudio Gabriel Lagrange</p>
                                                    <p class="text-base lg:text-lg mb-3">El Vicerrector del IUGNA:</p>
                                                    <p class="text-base lg:text-lg mb-3">Comandante General (R) Abogado Augusto Aranda</p>
                                                </div>
                                            </div>
                                        </p-accordionTab>
                                    </div>
                                    <div class="tabAcordeon">
                                        <p-accordionTab class="institutoItems consejo" header="- Consejo Académico" [selected]="false">
                                            <div class="containerOrganosColegiados">
                                                <div class="w-2/5">
                                                    <p class="font-bold text-base lg:text-lg mb-2">Consejo Académico</p>
                                                    <p class="text-base lg:text-lg mb-5">Es el órgano académico y de gobierno del Instituto, encargado de velar por el desarrollo de las tareas de docencia, de estudios e investigaciones, de extensión universitaria y de asuntos estudiantiles.</p>
                                                </div>
                                                <div class="w-2/5">
                                                    <p class="font-bold text-base lg:text-lg mb-3">Dicho Consejo está conformado por:</p>
                                                    <p class="text-base lg:text-lg mb-3">El Rector, quien lo preside</p>
                                                    <p class="text-base lg:text-lg mb-3">El Vicerrector</p>
                                                    <p class="text-base lg:text-lg mb-3">El Secretario Académico (como Secretario Permanente)</p>
                                                    <p class="text-base lg:text-lg mb-3">El Secretario de Planeamiento</p>
                                                    <p class="text-base lg:text-lg mb-3">El Secretario de Posgrado, Investigación y Educación Permanente</p>
                                                    <p class="text-base lg:text-lg mb-3">El Secretario de Planeamiento y Administración Financiera</p>
                                                    <p class="text-base lg:text-lg mb-3">El Secretario de Extensión Universitaria</p>
                                                    <p class="text-base lg:text-lg mb-3">El Jefe del Centro de Educación a Distancia y de Nuevas Tecnologías Educativas</p>
                                                    <p class="text-base lg:text-lg mb-3">El Jefe del Departamento de Asuntos Estudiantiles</p>
                                                    <p class="text-base lg:text-lg mb-3">Directores de Unidades Educativas</p>
                                                    <p class="text-base lg:text-lg mb-3">Un (1) Director de carrera de grado y un Director de carrera de posgrado, elegidos por sus pares</p>
                                                    <p class="text-base lg:text-lg mb-3">Un (1) representante del Claustro Docente de las carreras de grado, elegido por sus pares</p>
                                                    <p class="text-base lg:text-lg mb-3">Un (1) representante del Claustro Docente de las carreras de posgrado, elegido por sus pares</p>
                                                    <p class="text-base lg:text-lg mb-3">Un (1) representante del plantel de investigadores, elegido por sus pares</p>
                                                    <p class="text-base lg:text-lg mb-3">Un (1) representante del Claustro de Graduados elegido por sus paresa</p>
                                                    <p class="text-base lg:text-lg mb-3">Un (1) representante de los alumnos que, por su condición de estudiante de destacado mérito académico, se integre al Consejo Académico con voz y sin voto</p>
                                                    <p class="text-base lg:text-lg mb-3">Un (1) representante docente del área de educación permanente elegido por sus pares</p>
                                                </div>

                                            </div>
                                        </p-accordionTab>
                                    </div>
                                   </p-accordion>
                               </p-accordionTab>
                           </div>
                       </p-accordion>

                    </p-accordionTab>
                </div>
                <div class="tabAcordeon">
                    <img class="icon2" src="../../../../assets/img/iconos/icono-3.png" alt="">
                    <p-accordionTab class="institutoItems" header="Sedes y Localizaciones" [selected]="false">
                        <div class="containerItem">
                            <ul>
                                <li>Rectorado:</li>
                                <p class="text-base lg:text-lg">Av. Paseo Colón 533 - CP: 1063 - Ciudad de Buenos Aires Tel: (011) 5169-3322</p>
                                <hr class="mt-3 mb-3 ">
                                <li>Escuela Superior de Gendarmería Nacional: </li>
                                <p class="text-base lg:text-lg">Av. Paseo Colón 533 - CP: 1063 - Ciudad de Buenos Aires Tel: (011) 5169-3322</p>
                                <hr class="mt-3 mb-3">
                                <li>Escuela de Gendarmería Nacional:</li>
                                <p class="text-base lg:text-lg">El Quebracho S/N – CP: 1778 - Ciudad Evita, Partido de La Matanza, (Buenos Aires) Tel: (011) 4620-2063 int (223) / 4487-5613</p>
                                <hr class="mt-3 mb-3">
                                <li>Escuela de Suboficiales:</li>
                                <p class="text-base lg:text-lg">Av. 28 de Julio 1635 - CP: 5220 - Jesús María, Córdoba Tel/Fax: (03525) 401-966</p>
                                <hr class="mt-3 mb-3">
                                <li>Instituto de Capacitación Especializada:</li>
                                <p class="text-base lg:text-lg">Av. 2 Nº 725 - CP: 6600 - Mercedes, Provincia de Buenos Aires Tel: (02324) 430054</p>
                                <hr class="mt-3 mb-3">
                                <li>Instituto de Formación de Gendarmes:</li>
                                <p class="text-base lg:text-lg">Avenida San Martín S/N – Barreal – Calingasta - San Juan – CP 5405 Teléfono: 02648 441023</p>
                            </ul>
                        </div>
                    </p-accordionTab>
                </div>
                <div class="tabAcordeon">
                    <img class="icon2" src="../../../../assets/img/iconos/icono-3.png" alt="">
                    <p-accordionTab routerLink="/convocatoria" class="institutoItems" header="Convocatoria a Docentes Interinos" [selected]="false">
                        <div class="containerItem"></div>
                    </p-accordionTab>
                </div>
                <div class="tabAcordeon">
                    <img class="icon2" src="../../../../assets/img/iconos/icono-3.png" alt="">
                    <p-accordionTab class="institutoItems" header="Digesto Normativo IUGNA" [selected]="false">
                        <div class="containerItem"></div>
                    </p-accordionTab>
                </div>
            </p-accordion>
        </div>




    <div class="institutoContainer">
        <img class="icon1" src="../../../../assets/img/iconos/icono-1.png" alt="">
        <h2>Gendarmería Nacional Argentina</h2>
    </div>



    <br>
    <br>
    <br>


<app-footer></app-footer>
