<app-header></app-header>
<p-breadcrumb class=""  [model]="items"></p-breadcrumb>
<div class="membrete">
    <h2 class="subtitulo">Investigación</h2>
</div>
<div class="containerConvocatoria pt-5 pb-5">
    <p class=" text-base lg:text-lg pb-3">La investigación es una actividad inherente y fundamental en el marco de la Seguridad; pensada como proceso indisociable de la enseñanza. Por un lado, inherente, ya que es una de las funciones principales que se determinan para el nivel universitario. Por otro lado, fundamental, puesto que la misma mantiene una relación estrecha con la calidad educativa, ya que permite generar "nuevos conocimientos, nuevos modos de relación entre la teoría y la práctica, y por lo tanto, (…) contribuye a generar nuevas experiencias de aprendizaje" (PIA; 2009:203).</p>
    <p class=" text-base lg:text-lg pb-3">El modelo de investigación científico-tecnológico adoptado está orientado básicamente por las necesidades específicas de Gendarmería Nacional, la Educación Superior y la producción de conocimiento en temas relacionados al Instituto Universitario de Gendarmería Nacional. Asimismo, la investigación se asienta sobre los requerimientos actuales del desarrollo profesional de los gendarmes y se proyecta hacia nuevos saberes. </p>
    <p class=" text-base lg:text-lg pb-3">Las áreas temáticas de investigación se centrarán en los campos de especialización profesional y problemáticas en contextos sociales locales, nacionales e internacionales, y en los procesos de enseñanza y aprendizaje de la educación superior, relacionados con el Instituto:</p>
    <ul class=" text-base lg:text-lg pb-5 mb-4 ml-5 listCarreras">
        <li>Seguridad Pública.</li>
        <li>Administración Pública.</li>
        <li>Criminalística y Estudios Forenses.</li>
        <li>Gestión y Seguridad de las Tecnologías de la Información.</li>
        <li>Procesos de Enseñanza y Aprendizaje de la Educación Superior.</li>
    </ul>
    <section class="flex containerContacto mb-5">
        <div>
            <p class="contactoItems text-base lg:text-lg pb-2">Para más información:</p>
            <p class="contactoItems text-base lg:text-lg pb-2">Secretaría de Investigación</p>
            <p class="contactoItems text-base lg:text-lg pb-2">email: investigacion@iugna.edu.ar</p>
        </div>
        <img class="imgDecorativo" src="../../../../assets/img/iconos/investigacion.png" alt="">
    </section>
    <app-submenu-investigacion></app-submenu-investigacion>
    </div>
    
<app-footer></app-footer>
