<app-header></app-header>
<p-breadcrumb [model]="items"></p-breadcrumb>
  <section class="mx-5 lg:mx-28 mt-5 sm:mx-5">
    <div class="mb-5 flex flex-col md:flex-row items-center md:items-start justify-center space-y-4 md:space-y-0 md:space-x-4">
      <img class="" src="../../../../assets/img/icon escuelas/escucub.png" alt="">

      <p class="text-justify">La Unidad Académica <span class="text-teal-600 font-bold">Escuela de Suboficiales “Cabo Raúl Remberto Cuello”</span>
        inició sus actividades en 1955. Actualmente, y desde 1962, la Escuela se
        encuentra en Jesús María (Provincia de Córdoba), donde se lleva adelante la
        formación de Aspirantes a Suboficiales de Gendarmería Nacional. Dedicada a la
        formación de Suboficiales y Gendarmes. Al momento de culminar sus estudios,
        obtienen el grado de Cabo.</p>
    </div>
    <div class="mb-5 flex flex-col md:flex-row items-center md:items-start justify-center space-y-4 md:space-y-0 md:space-x-4">
      <img class="" src="../../../../assets/img/icon escuelas/insbarreal.png" alt="">
      <p class="text-justify">El <span class="text-teal-600 font-bold">Insttuto de Formación de Gendarmes “Gendarme Félix Manifior”</span>, se

        encuentra en la localidad de Barreal, a 220 kilómetros de la capital de la provin-
        cia de San Juan y se dedica a la preparación de los Aspirantes a Gendarmes. Su

        trayecto de formación, el Curso básico de Formación de Gendarmes, se
        encuentra articulado al plan de estudio de las Tecnicaturas Universitarias de la
        Escuela de Suboficiales. Para su ingreso deben cumplir los requisitos básicos de
        incorporación y aprobar los exámenes de admisión.</p>
    </div>
    <div class="mb-5 flex flex-col md:flex-row items-center md:items-start justify-center space-y-4 md:space-y-0 md:space-x-4">
      <img class="" src="../../../../assets/img/icon escuelas/escugen.png" alt="">
      <p class="text-justify">La <span class="text-teal-600 font-bold">Escuela de Gendarmería Nacional “General Don Martín Miguel de
        Güemes”</span> es la Unidad Académica de grado del Instituto Universitario, orienta-
        da a la formación de los Oficiales de Gendarmería Nacional de carácter integral

        de nivel universitario y técnico profesional.
        Su oferta académica está constituida por cuatro carreras de grado con títulos
        intermedios.</p>
    </div>
    <div class="mb-5 flex flex-col md:flex-row items-center md:items-start justify-center space-y-4 md:space-y-0 md:space-x-4">
      <img class="" src="../../../../assets/img/icon escuelas/escucuper.png" alt="">
      <p class="text-justify">La <span class="text-teal-600 font-bold">Escuela Superior “Grl Br D Manuel María Calderón”</span>, con la creación de
        IUGNA (Ley 26.286) pasó a constituirse en una Unidad Académica de grado y
        posgrado. Actualmente desarrollan carreras abiertas a la comunidad, la
        formación es gratuita y la modalidad presencial en Paseo Colón 533 (CABA).

        Su oferta académica está constituida por carreras de pregrado, grado y post-
        grado.</p>
    </div>

    <div class="mb-5 flex flex-col md:flex-row items-center md:items-start justify-center space-y-4 md:space-y-0 md:space-x-4">
      <img class="" src="../../../../assets/img/icon escuelas/inscaes.png" alt="">
      <p class="text-justify">El <span class="text-teal-600 font-bold">Instituto de Capacitación Especializada “Cabo Juan Adolfo Romero”</span> se
        encuentra en la ciudad bonaerense de Mercedes. Su oferta educativa se dirige
        a capacitar y perfeccionar al personal del cuadro de Suboficiales. Los cursos
        que lleva adelante están destinados al personal de Gendarmes, para acceder al
        grado de Cabo. También dicta el Curso Básico de Formación de Gendarmes,
        articulado al plan de estudio de las Tecnicaturas Universitarias de la Escuela de
        Suboficiales.</p>
    </div>
  </section>
<app-footer></app-footer>
