<app-header></app-header>
<div class="containerImg mt-2 mb-2">
    <img src="../../../../assets/img/novedades/banner/novedad0.png" alt="">
</div>
<div class="mb-3">
    <p class="lugar">CABA</p>
</div>
<section class="containerNovedad">
    <p class="title mb-3">Se encuentran abiertas las inscripciones para los Cursos de Posgrado</p>
    <p class="date mb-3">26 de Mayo de 2022</p>
    <hr class="mb-5">
    <p class="novedad mb-3">La Unidad Académica Escuela Superior del Instituto Universitario de Gendarmería Nacional, informa que se encuentran abiertas las inscripciones para los Cursos de Posgrado, desde el 26 de mayo hasta el 08 de julio del presente año, correspondientes a:</p>
    <p class="novedad mb-3 ml-3 text-sky-400">Diplomatura en Gestión Integral de Riesgos de Desastre.</p>
    <p class="novedad mb-3 ml-5">- Destinatarios: profesionales con título técnico superior, título universitario o título de grado relacionado a la Seguridad Pública y que cuenten con experiencia laboral afín con el área de Medio Ambiente (no siendo este último requisito excluyente).</p>
    <p class="novedad mb-3 ml-5">- Duración: dos (2) cuatrimestres.</p>
    <p class="novedad mb-3 ml-5">- Modalidad: cursado presencial.</p>
    <p class="novedad mb-3 ml-5">- Régimen de estudios: lunes y viernes turno tarde.</p>
    <p class="novedad mb-3 ml-5">- Vacantes disponibles: 30 vacantes.</p>
    <p class="novedad mb-3 ml-5">- Lugar: Avenida Paseo Colón Nro. 533 - (CABA).</p>
    <p class="novedad mb-3">Para la primera etapa de pre-inscripción ingresar <a href="https://docs.google.com/forms/d/e/1FAIpQLScqB25yNHcUuIGfhZHnjPlmFSelmrzXWATU9EOT1C35QjxQVA/viewform">aqui</a></p>
    <p class="novedad mb-3 ml-3">Diplomatura en Inteligencia Criminal y Crimen Organizado</p>
    <p class="novedad mb-3 ml-5">- Destinatarios: profesionales con título técnico superior, título universitario o título de grado relacionado con la Seguridad Pública y que cuenten con experiencia laboral afín con el área de Inteligencia Criminal (no siendo este último requisito excluyente).</p>
    <p class="novedad mb-3 ml-5">- Duración: dos (2) cuatrimestres.</p>
    <p class="novedad mb-3 ml-5">- Modalidad: cursado presencial.</p>
    <p class="novedad mb-3 ml-5">- Régimen de estudios: lunes y viernes turno tarde.</p>
    <p class="novedad mb-3 ml-5">- Vacantes disponibles: 30 vacantes.</p>
    <p class="novedad mb-3 ml-5">- Lugar: Avenida Paseo Colón Nro. 533 - (CABA).</p>
</section>
<app-footer></app-footer>
