<div class="containerMenuDinamico m-3">
    <p class="title mb-3">Diplomaturas</p>
    <hr class="mb-3">
    <div>
        <p class="title3 mb-3 cursor-pointer" routerLink="../../frontera">Diplomatura Universitaria en Seguridad y Desarrollo de Fronteras (a
          distancia)</p>
        <p class="mb-3">Aprobada por Disposición: DI-2022-1119-APN-DINALGEN#GNA</p>
        <p class="mb-3"><b>Duración:</b> la diplomatura se desarrollará en el lapso de cuatro (4)
          bimestres, con instancias de cursado sincrónicas y asincrónicas con
          una duración total de 152 horas.</p>
        <p class="mb-3"><b>Destinatarios:</b>la diplomatura está dirigida al personal de las Fuerzas
          de Seguridad - Provinciales, Nacionales o Federales - con una
          antigüedad no menor a 3 años y/o; personas que posean título de
          técnico superior o universitario afín al área de la seguridad y/o;
          aquellos que cuenten con experiencia laboral afín al área de frontera.</p>
          <p class="title3 mb-3"><a class="text-base text-cyan-700" href="../../../../assets/pdfs/escusuper/DIPLOMATURA_UNIVERSITARIA_EN_SEGURIDAD_Y_DESARROLLO_DE_FRONTERAS.pdf">Más información</a></p>
        <hr class="mb-5">
    </div>
    <div>
      <p class="title3 mb-3 cursor-pointer">Diplomatura en Inteligencia Criminal y Crimen Organizadado (a distancia)</p>
      <p class="mb-3">Aprobada por Resolución Rectoral: RESOL-2023-15-APN-IUGNA#GNA</p>
      <p class="mb-3"><b>Duración:</b> la diplomatura tiene una duración de 192 horas divididas en
        dos cuatrimestres de 96 horas cada uno. Dos seminarios de cursada
        semanal en simultáneo integran cada cuatrimestre.</p>
      <p class="mb-3"><b>Destinatarios:</b> la diplomatura está dirigida al personal de las Fuerzas
        de Seguridad y/o Fuerzas Policiales Provinciales, Nacionales y
        Federales con una antigüedad de servicio no menor a 3 años que
        posean título de técnico superior y/o universitario y/o título de grado
        relacionado con la seguridad pública y que cuenten con experiencia
        laboral afín con el área de Inteligencia Criminal.</p>
        <p class="title3 mb-3"><a class="text-base text-cyan-700" href="../../../../assets/pdfs/escusuper/DIPLOMATURA_EN_INTELIGENCIA_CRIMINAL_Y_CRIMEN_ORGANIZADO.pdf">Más información</a></p>

      <br><hr class="mb-5">
  </div>
    <div>
        <p class="title3 mb-3 cursor-pointer">Diplomatura en Gestión Integral de Riesgo de Desastres (a distancia)</p>
        <p class="mb-3">Aprobada por Resolución Rectoral: RESOL-2023-16-APN-IUGNA#GNA</p>
        <p class="mb-3"><b>Duración:</b> 2 cuatrimestres</p>
        <p class="mb-3"><b>Destinatarios:</b> la diplomatura está dirigida al personal egresado/a del
          IUGNA o Institutos afines de otras fuerzas federales o ser
          profesionales con título de nivel superior y/o universitario y
          experiencia laboral afín a la temática.</p>
          <p class="title3 mb-3"><a class="text-base text-cyan-700" href="../../../../assets/pdfs/escusuper/DIPLOMATURA_EN_GESTION_INTEGRAL_DE_RIESGO_DE_DESASTRES.pdf">Más información</a></p>

    </div>
    <br>

</div>
<div></div>

