<div class="containerMenuDinamico m-3">
    <p class="title mb-3">Diplomaturas</p>
    <hr class="mb-3">
    <div>        
        <p class="title3 mb-3" routerLink="../../frontera">Diplomatura en Fronteras</p>
        <p class="mb-3">Duración: 2 cuatrimestres</p>
        <p class="mb-3">Aprobado por Disposición DI-2018-675-APN-DINALGEN#GNA</p>
        <p class="mb-3">Destinatarios: Profesionales con título de técnico superior, técnico universitario o título de grado relacionado con la Seguridad Pública, y que cuenten con experiencia laboral afín a la Seguridad en Fronteras.</p>
        <hr class="mb-5">
    </div>    
    <div>        
        <p class="title3 mb-3">Diplomatura en Gestión Integral de Riesgo de Desastre</p>
        <p class="mb-3">Duración: 2 cuatrimestres</p>
        <p class="mb-3">Aprobado por Disposición DNG 03/17</p>
        <p class="mb-3">Destinatarios: Profesionales con título de técnico superior, técnico universitario o título de grado relacionado con la Seguridad Pública, y que cuenten con experiencia laboral afín con la temática.</p>
        <hr class="mb-5">
    </div>    
    <div>        
        <p class="title3 mb-3">Diplomatura en Inteligencia Criminal y Crimen Organizadao</p>
        <p class="mb-3">Duración: 2 cuatrimestres</p>
        <p class="mb-3">Aprobado por Disposición DDNG 02/17</p>
        <p class="mb-3">Destinatarios: Profesionales con título de técnico superior, técnico universitario o título de grado relacionado con la Seguridad Pública, y que cuenten con experiencia laboral afín a la Inteligencia Criminal. </p>
        <br>
        <br>
        <br>
    </div>    
</div>
<div></div>

