<div class="containerMenuDinamico m-3">
    <p class="title mb-3">Diplomaturas</p>
    <hr class="mb-3">
    <div>
        <p class="title3 mb-3 cursor-pointer" routerLink="../../frontera">Diplomatura Universitaria en Seguridad y Desarrollo de Fronteras (a
          distancia)</p>
        <p class="mb-3">cuatro (4) bimestres con un total de 152 horas</p>
        <p class="mb-3">Aprobado por Disposición DI-2022-1119-APN-DINALGEN#GNA</p>
        <p class="mb-3">Destinatarios: Profesionales con título de técnico superior, técnico universitario o título de grado relacionado con la Seguridad Pública, y que cuenten con experiencia laboral afín a la Seguridad en Fronteras.</p>
        <hr class="mb-5">
    </div>
    <div>
        <p class="title3 mb-3 cursor-pointer">Diplomatura en Gestión Integral de Riesgo de Desastre</p>
        <p class="mb-3">Duración: 2 cuatrimestres</p>
        <p class="mb-3">Aprobado por Disposición DNG 03/17</p>
        <p class="mb-3">Destinatarios: Profesionales con título de técnico superior, técnico universitario
          o título de grado relacionado con la Seguridad Pública, y que cuenten con
          experiencia laboral afín con la temática.</p>
          <!-- <p class="title3 mb-3"><a class="text-base text-cyan-700" href="../../../../assets/pdfs/escusuper/DIPLOMATURA_EN_GESTIÓN_INTEGRAL_DE_RIESGO_DE_DESASTRES.pdf">Más información</a></p> -->
        <hr class="mb-5">
    </div>
    <div>
        <p class="title3 mb-3 cursor-pointer">Diplomatura en Inteligencia Criminal y Crimen Organizadao</p>
        <p class="mb-3">Duración: 2 cuatrimestres</p>
        <p class="mb-3">Aprobado por Disposición DDNG 02/17</p>
        <p class="mb-3">Destinatarios: Profesionales con título de técnico superior, técnico universitario
          o título de grado relacionado con la Seguridad Pública, y que cuenten con
          experiencia laboral afín a la Inteligencia Criminal.</p>
          <!-- <p class="title3 mb-3"><a class="text-base text-cyan-700" href="../../../../assets/pdfs/escusuper/DIPLOMATURA_EN_INTELIGENCIA_CRIMINAL_Y_CRIMEN_ORGANIZADO.pdf">Más información</a></p> -->
        <br>
        <br>
        <br>
    </div>
</div>
<div></div>

